<header>Observations and features</header>
<main class="container">
<p>
    Within WebMeV, you will see references to "Observations" and "Features". 
    If you are working with "-omic" data as WebMeV is intended, an observation is a sample and a feature is a gene/transcript. 
    However, we use these more generic terms to allow flexibility in the types of data we work with. 
</p>
<p>
    Observations and features are directly linked. 
    An illustrative example is a count table (or matrix) generated in RNA-seq data. 
    Typically, these matrices are arranged so that each column corresponds to a single sample and each row corresponds to a gene. 
    If we examine a single column of the table, we see that this observation/sample is composed of many gene measurements, which we are calling features; collectively, we can refer to that column as a "feature vector" or "feature array". 
    In many "omic" analyses, we compare these arrays in an attempt to infer biological meaning. 
    For a more general example, we could imagine investigating a population of patients (observations); 
    each patient has some features (e.g. age, sex, smoking history) which may affect the measured outcome variable (e.g. blood pressure).
</p> 
<p>
    Within WebMeV, we can create sets of custom observations/samples and features/genes to allow stratification and comparisons between biologically meaningful groups. 
    These groups may already be known, as in the case of a designed experiment between "control" and "experimental" observations. 
    Alternatively, custom groups may be discovered and defined in the course of an analysis, perhaps originating from a clustering operation. 
    Similarly, we can create a group of genes/features that represent a biologically meaningful pathway. 
    Suggestively, these are referred to as <em>observation sets</em> and <em>feature sets</em>.
</p>   
</main>
<footer mat-dialog-actions class="btn-group">
    <button mat-button (click)="onNoClick()" mat-raised-button color="accent">Close</button>
</footer>