<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel expanded=false [togglePosition]="'before'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Annotations
      </mat-panel-title>
      <mat-panel-description>
        The union of all the Resource metadata in the Workspace
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--button mat-raised-button color="accent" (click)="onChooseAnnotation()">
      <mat-icon aria-label="Choose current annotation">add</mat-icon>
      Choose current annotation
    </button-->

    <br>
    <br>

    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile>
        <div class="mat-table-container">
          <h4>Annotation</h4>
          <div *ngIf="!observationSetDS.data.length">No data is available.
          </div>
          <div *ngIf="observationSetDS.data.length > 0" class="mat-elevation-z8">
            <div class="annotation-text">
              Click the Plus sign to add a new attribute column. Click the column header to rename it, and click the
              table cell to add an attribute value.
            </div>
            <div class="annotation-table-wrapper">
              <table mat-table [dataSource]="observationSetDS">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Name
                  </th>
                  <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>

                <ng-container *ngFor="let attrCol of metadataObsDisplayedColumnsAttributesOnly; let colIndex = index"
                  matColumnDef="{{attrCol}}">
                  <th mat-header-cell *matHeaderCellDef [satPopoverAnchor]="attrColHeader"
                    (click)="attrColHeader.open()">{{ attrCol }}</th>
                  <sat-popover #attrColHeader hasBackdrop xAlign="start" yAlign="start"
                    (closed)="renameAttrColHeader($event, attrCol)">
                    <mev-inline-edit [value]="attrCol"></mev-inline-edit>
                  </sat-popover>
                  <td mat-cell *matCellDef="let element; let i=index;" [satPopoverAnchor]="attrCell"
                    (click)="attrCell.open()">
                    <ng-container *ngIf="element.attributes && element.attributes[attrCol]">
                      {{ element.attributes[attrCol].value }}
                    </ng-container>
                    <span class="hint-text" *ngIf="!element.attributes || !element.attributes[attrCol]">
                      Click to add a value
                    </span>

                    <sat-popover #attrCell hasBackdrop xAlign="start" yAlign="start"
                      (closed)="updateAttrCellValue($event, attrCol, i)">
                      <mev-inline-edit
                        [value]="(element.attributes && element.attributes[attrCol]) ? element.attributes[attrCol].value : ''">
                      </mev-inline-edit>
                    </sat-popover>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="metadataObsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: metadataObsDisplayedColumns;">
                </tr>
              </table>
              <mat-icon title="Add a new attribute column" aria-label="Add a new attribute" class="add-column-btn"
                (click)="onAddAttribute()">add</mat-icon>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>
          </div>

        </div>


      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

  <mat-expansion-panel [togglePosition]="'before'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        User's sample/feature sets
      </mat-panel-title>
      <mat-panel-description>
        Hear you can create and view user's sample (column) and feature(row) sets
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="control-group">
      <div class="btn-group">
        <button mat-raised-button color="accent" (click)="onCreateObservationSet()">
          <mat-icon aria-label="Create an observation set">add</mat-icon>
          Create an observation set
        </button>

        <button mat-raised-button color="accent" (click)="onCreateFeatureSet()">
          <mat-icon aria-label="Create a feature set">add</mat-icon>
          Create a feature set
        </button>
      </div>


      <mat-button-toggle-group #customSetsViewMode="matButtonToggleGroup" value="tableMode">
        <mat-button-toggle value="tableMode" aria-label="Text align left">
          Table view
        </mat-button-toggle>
        <mat-button-toggle value="visMode" aria-label="Text align center">
          Visualization
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="!customSetDS || !customSetDS.data || customSetDS.data.length === 0">No data is available.</div>
    <div *ngIf="customSetDS?.data?.length > 0">
      <table *ngIf="customSetsViewMode.value === 'tableMode'" mat-table [dataSource]="customSetDS"
        class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type (Observation/Feature set) </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i=index;">
            <button mat-icon-button color="accent" title="View" (click)="onViewCustomSet(element)">
              <mat-icon aria-label="View">visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" title="Delete" (click)="onDeleteCustomSet(element.name)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="customSetsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: customSetsDisplayedColumns;">

      </table>


      <table *ngIf="customSetsViewMode.value === 'visMode'" mat-table [dataSource]="visObservationSetDS"
        class="visualization-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Sample </th>
          <td mat-cell *matCellDef="let element"> {{ element.sampleName }} </td>
        </ng-container>

        <ng-container *ngFor="let setCol of visObsDisplayedColumnsSetsOnly" matColumnDef="{{setCol}}">
          <th mat-header-cell *matHeaderCellDef>{{ setCol }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="highlighted-cell" [style.background-color]="element[setCol]" [ngClass]="{'highlighted-cell2': element[setCol] === true}"></div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="visObsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visObsDisplayedColumns;">
        </tr>
      </table>
    </div>



  </mat-expansion-panel>

</mat-accordion>