<mev-spinner-overlay *ngIf="isWait"></mev-spinner-overlay>

<section class="metadata-container">
  <mat-card class="metadata-card">
      <mat-card-content class="metadata-card__main">
          <div class="metadata-card__instruction">
            <p>
              Create and manage <a (click)="viewCustomSetInfo()">custom observation and feature sets</a> to filter and stratify your data. 
              You also can incorporate an annotation file as attributes to your custom observation set. Note that we store this metadata with your browser
              and hence the metadata will NOT be available if you login to WebMeV on a different computer or browser. However, all your other data is still 
              preserved.
            </p>
            <p>
              By incorporating an annotation file<mat-icon class="icon inline-icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
              matTooltip=" An Annotation Table is a special type of table that is be responsible for annotating observations/samples (e.g. adding sample names and associated attributes like experimental group or other covariates). The first column gives the sample names and the remaining columns  each individually represent different covariates associated with that sample." aria-label="Info tooltip about the field">info
            </mat-icon>, you can also add custom attributes/covariates to your observations and features. 
            </p>
            <p>
              Additional sets can be created through the available set operations.
            </p>
          </div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="metadata-card__content">
            <div class="control-group">
              <div class="btn-group">
                <button mat-raised-button color="accent" (click)="onCreateObservationSet()">
                  <mat-icon aria-label="Create an observation set">add</mat-icon>
                  Create an observation set
                </button>
                <button mat-raised-button color="accent" (click)="onCreateFeatureSet()">
                  <mat-icon aria-label="Create a feature set">add</mat-icon>
                  Create a feature/gene set
                </button>
                <span 
                  [matTooltip]="'Add an annotation file to this workspace to incorporate annotations.'"
                  [matTooltipDisabled]="(workspaceResources| annotationFilesPipe)?.length > 0">
                <button mat-raised-button color="accent" (click)="onChooseAnnotation()"
                [disabled]="(workspaceResources| annotationFilesPipe)?.length === 0">
                  <mat-icon aria-label="Incorporate annotations">add</mat-icon>
                  Incorporate annotations
                  </button>
                </span>

                <span 
                [matTooltip]="'Select two or more sets to perform an intersection'"
                [matTooltipDisabled]="selection.selected.length > 1">
                <button [disabled]="selection.selected.length < 2" mat-raised-button color="accent" (click)="makeSetIntersection()">
                  <mat-icon aria-label="Create from set intersection">add</mat-icon>
                  Create set from intersection
                </button>
                </span>
                <span 
                [matTooltip]="'Select two or more sets to perform a union'"
                [matTooltipDisabled]="selection.selected.length > 1">
                <button [disabled]="selection.selected.length < 2" mat-raised-button color="accent" (click)="makeSetUnion()">
                  <mat-icon aria-label="Create from set union">add</mat-icon>
                  Create set from union
                </button>
                </span>
                <span 
                [matTooltip]="'Select two sets to perform a set difference. For clarity, we only allow a set difference between exactly two sets.'"
                [matTooltipDisabled]="selection.selected.length === 2">
                <button [disabled]="selection.selected.length !== 2" mat-raised-button color="accent" (click)="makeSetDifference()">
                  <mat-icon aria-label="Create from set difference">add</mat-icon>
                  Create from set difference
                </button>
                </span>
              </div>

              <mat-button-toggle-group #customSetsViewMode="matButtonToggleGroup" value="tableMode">
                <mat-button-toggle value="tableMode" aria-label="Text align left">
                  Table view
                </mat-button-toggle>
                <mat-button-toggle value="visMode" aria-label="Text align center">
                  Visualization
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div *ngIf="!customSetDS || !customSetDS.data || customSetDS.data.length === 0">
              No custom observation and feature sets available.
            </div>
            <div *ngIf="customSetDS?.data?.length > 0">
              <table *ngIf="customSetsViewMode.value === 'tableMode'" mat-table [dataSource]="customSetDS"
                class="mat-elevation-z8">


                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="masterToggle($event)"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="rowClicked($event, row)"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element">
                     <span class="sample-color" [style.background-color]="element.color"></span>
                     {{element.name}} 
                  </td>
                </ng-container>
      
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type (Observation/Feature set) </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="size">
                  <th mat-header-cell *matHeaderCellDef> Size </th>
                  <td mat-cell *matCellDef="let element"> {{element.elements.length}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element; let i=index;">
                    <button mat-icon-button color="accent" title="View" (click)="onViewCustomSet(element)">
                      <mat-icon aria-label="View">visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" title="Delete" (click)="onDeleteCustomSet(element.name)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" title="Edit" (click)="onEditCustomSet(element)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="customSetsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: customSetsDisplayedColumns;">
      
              </table>
              <div *ngIf="customSetsViewMode.value === 'visMode' && tooManyObservations" class="too-many-obs">
                Your workspace has a total of {{observationCount}} samples/observations and the set visualization
                has been disabled.
              </div>
              <table *ngIf="customSetsViewMode.value === 'visMode' && !tooManyObservations" mat-table [dataSource]="visObservationSetDS"
                class="visualization-table">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Sample </th>
                  <td mat-cell *matCellDef="let element"> {{ element.sampleName }} </td>
                </ng-container>
      
                <ng-container *ngFor="let setCol of visObsDisplayedColumnsSetsOnly" matColumnDef="{{setCol}}">
                  <th mat-header-cell *matHeaderCellDef>{{ setCol }}</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="highlighted-cell" [style.background-color]="element[setCol]"
                      [ngClass]="{'highlighted-cell2': element[setCol] === true}"></div>
                  </td>
                </ng-container>
      
      
                <tr mat-header-row *matHeaderRowDef="visObsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: visObsDisplayedColumns;">
                </tr>
              </table>
            </div>
          </div>
      </mat-card-content>
  </mat-card>
</section>
