.analyses-section {
  margin: 20px;
  font-size: 14px !important;
}

.vertical-tab-container {
  margin: 30px 0;
  display: flex;
}

mat-tree {
  background-color: transparent !important;
}

.operation-container {
  padding: 10px 20px;
}
