<div class="analyses-container">
  <div class="analyses-header">
    <a [routerLink]="['/workspace', workspaceId]" class="analyses-header__title">
      
        <span  *ngIf="workspace$ | async as workspace">
          Workspace
          <b> {{ workspace.workspace_name }} </b>
          <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined" matTooltip="Workspace: {{ workspace.workspace_name }} &#13;
                            Created: {{ workspace.created }} &#13;
                            Owner: {{ workspace.owner_email }}" aria-label="Info tooltip about the workspace">info
          </mat-icon>
        </span>
    </a>
  </div>
  
  <section class="analyses-section">
  
    <mat-tab-group animationDuration="0ms" color="accent">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">leaderboard</mat-icon>
          Statistics
        </ng-template>
        <div class="tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. 
          <div class="vertical-tab-container">
            <mat-tab-group>
              <mat-tab *ngFor="let operation of operations" [label]="operation.name">
                <mev-operation [operation]="operation" [workspaceId]="workspaceId" [workspace$]="workspace$"></mev-operation>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">bubble_chart</mat-icon>
          Clustering
        </ng-template>
  
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">assistant</mat-icon>
          Meta-analyses
        </ng-template>
  
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">filter_alt</mat-icon>
          Normalization
        </ng-template>
  
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
