.analyses-section {
  margin: 20px;
  font-size: 14px !important;
}

.vertical-tab-container {
  margin: 30px 0;
  display: flex;
}

mat-tree {
  background-color: #ddebf2 !important;
  width: 300px;

  button {
    display: flex;
    align-items: center;
    border: 0;
    background: none;
    white-space: normal;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;

    &:hover {
      color: grey;
    }
  }

  .active-node {
    font-weight: bold;
    background-color: #eee !important;
  }
}

.operation-container {
  padding: 10px 20px;
  width: 100%;
}
