.analysis-card__img {
    background-image: url("~assets/icons/ct-scan.png");
    background-size: 30px;
    background-position: top right;
    background-repeat: no-repeat;
}

.analysis-card__content {
    padding-top: 1rem;
}
