<!-- <mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>SpatialGE: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>
    <div class="overlayContainer" [style.height.px]="(plotHeight+heightAdjustment)"
        [style.width.px]="overlayImage ? maxImageContainerWidthOverylay +200: maxImageContainerWidthSidebySide + 200">
        <div class="overlayRow"
            [style.width.px]="overlayImage ? maxImageContainerWidthOverylay + 200 : maxImageContainerWidthSidebySide + 200">
            <button mat-button *ngIf="!isLoading" id="downloadButton" (click)="captureAndDownloadImages()"
                matTooltip="Download Image" title="download something">
                <mat-icon>save_alt</mat-icon>
            </button>
        </div>
        <div class="overlayDiv">
            <div #scatter id="scatter" [class]="overlayImage ? 'overlayPlots' : 'displayPlotSideBySide'"
                [style.opacity]="displayPlot ? plotOpacityValue : 0"
                [style]="!displayAlignment ? 'z-index: 1' : 'z-index: 3'" class="plotContainer">
            </div>
            <div [class]="!droppedFile ? 'drop-zone' : (overlayImage ? '': 'displayImageSideBySide') "
                (drop)="onDropFile($event)" (dragover)="onDragOver($event)"
                [style.margin-left.px]="overlayImage ? -(plotWidth + widthAdjustment + legendWidth) : '20'"
                (click)="fileInput.click()" class="imageContainer">
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
                <div *ngIf="!droppedFile" class="drop-message">
                    <p>Drop image file here or click to upload</p>
                </div>
                <div *ngIf="droppedFile && displayImage" style="z-index: 2;">
                    <img *ngIf="isImageType(droppedFile.type)" class="overlayPlotsImage" [src]="droppedFileURL"
                        alt="Dropped Image" [style.height.px]="plotHeight" [style.opacity]="imageOpacityValue">
                </div>
            </div>
        </div>
    </div>

    <div class="slider" [style.top.px]="(plotHeight+heightAdjustment) + 100">
        <div *ngIf="displayAlignment">
            <label id="modes-label">Alignment: </label>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Left"
                (click)="moveImage('left', 'align')">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Right"
                (click)="moveImage('right', 'align')">
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Up"
                (click)="moveImage('up', 'align')">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Down"
                (click)="moveImage('down', 'align')">
                <mat-icon>arrow_downward</mat-icon>
            </button>

            <button mat-flat-button color="primary" class="custom-button" matTooltip="Expand Plot X-Axis"
                (click)="stretchPlot('x-axis', '+')">
                <mat-icon class="rotate-90">expand</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Compress Plot X-Axis"
                (click)="stretchPlot('x-axis', '-')">
                <mat-icon class="rotate-90">compress</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Expand Plot Y-Axis"
                (click)="stretchPlot('y-axis', '+')">
                <mat-icon>expand</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Compress Plot Y-Axis"
                (click)="stretchPlot('y-axis', '-')">
                <mat-icon>compress</mat-icon>
            </button>

        </div>
        <div *ngIf="displayZoom">
        </div>

        <label id="radio-group-axis">Plot Opacity: <span class="displayValue"> {{plotOpacityValue}}</span></label>
        {{0}} %
        <mat-slider min="0" max="1" step=".1" [(ngModel)]="plotOpacityValue"
            (input)="updatePlotOpacity(plotOpacityValue)">
        </mat-slider>
        {{100}} %
        <br>
        <label id="radio-group-axis">Image Opacity: <span class="displayValue"> {{imageOpacityValue}}</span></label>
        {{0}} %
        <mat-slider min="0" max="1" step=".1" [(ngModel)]="imageOpacityValue"
            (input)="updateImageOpacity(imageOpacityValue)">
        </mat-slider>
        {{100}} %
        <br>
        <mat-slide-toggle [(ngModel)]="overlayImage">Overlay Images</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayAlignment" (change)="setAlignmentMode()">Alignment Mode</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayZoom" (change)="setZoomMode()">Zoom Mode</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayPlot">Display Plot</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayImage">Display Image</mat-slide-toggle>
        <br>

        <br>
        <label id="radio-group-axis">Plot Color: </label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="selectedColor" (change)="onColorChange()">
            <div *ngFor="let plotColor of colors" class="radio-container">
                <mat-radio-button class="example-radio-button" [value]="plotColor">{{plotColor}}</mat-radio-button>
            </div>
        </mat-radio-group>
        <br>
        <br>
        <label id="radio-group-axis">Scale Factor:</label>
        <div class="inputContainer">
            <mat-form-field class="example-form-field container" appearance="outline">
                <mat-label>Scale Factor</mat-label>
                <input matInput type="search" name="search" [(ngModel)]="scaleFactorVal"
                    (keyup.enter)="setScaleFactor($event)" class="smallerInput">
                <button *ngIf="scaleFactorVal" matSuffix mat-icon-button aria-label="Clear"
                    (click)="scaleFactorVal = ''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-flat-button color="primary" class="searchButton" (click)="setScaleFactor($event)">Submit</button>
        </div>
       
    </div>

</mat-card> -->

<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>SpatialGE: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>
    <div class="overlayContainer" [style.height.px]="(plotHeight+heightAdjustment+100)"
        [style.width.px]="overlayImage ? maxImageContainerWidthOverylay +200: maxImageContainerWidthSidebySide + 200">
        <!-- <div class="searchContainer">
            <label id="radio-group-axis">Gene Search: </label>
            <div class="inputContainer">
                <mat-form-field class="example-form-field container" appearance="outline">
                    <mat-label>Gene Search</mat-label>
                    <input matInput type="search" name="search" [(ngModel)]="geneSearchVal"
                        (keyup.enter)="setGeneSearch()" class="smallerInput">
                    <button *ngIf="geneSearchVal" matSuffix mat-icon-button aria-label="Clear"
                        (click)="geneSearchVal = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-flat-button color="primary" class="searchButton" (click)="setGeneSearch()">Submit</button>
            </div>
        </div> -->
        <!-- <div>
            <img #imageElement (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
                (mouseup)="onMouseUp($event)" [src]="droppedFileURL" style="position: relative;" [style.height.px]="plotHeight">
            <div [ngStyle]="selectionRectStyle"></div>
        </div> -->


        <div class="overlayRow"
            [style.width.px]="overlayImage ? maxImageContainerWidthOverylay + 50 : maxImageContainerWidthSidebySide + 150">
            <button mat-button *ngIf="!isLoading" id="downloadButton" (click)="captureAndDownloadImages()"
                matTooltip="Download Image" title="download something">
                <mat-icon>save_alt</mat-icon>
            </button>
        </div>
        <span style="display: flex; width: 700px">
            <div class="overlayDiv">
                <div #scatter id="scatter" [class]="overlayImage ? 'overlayPlots' : 'displayPlotSideBySide'"
                    [style.opacity]="displayPlot ? plotOpacityValue : 0"
                    [style]="!displayAlignment ? 'z-index: 2' : 'z-index: 4'" class="plotContainer">
                </div>
                <div [class]="!droppedFile ? 'drop-zone' : (overlayImage ? 'displayOverlay123': 'displayImageSideBySide') "
                    (drop)="onDropFile($event)" (dragover)="onDragOver($event)"
                    [style.margin-left.px]="overlayImage ? -(plotWidth + widthAdjustment + legendWidth): '20'"
                    (click)="fileInput.click()" class="imageContainer">
                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
                    <div *ngIf="!droppedFile && !displayZoom" class="drop-message">
                        <p>Drop image file here or click to upload</p>
                    </div>
                    <div *ngIf="droppedFile && displayImage" style="z-index: 3;">
                        <img *ngIf="isImageType(droppedFile.type)" class="overlayPlotsImage" [src]="droppedFileURL"
                            alt="Dropped Image" [style.height.px]="plotHeight" [style.opacity]="imageOpacityValue">
                    </div>
    
                </div>
                
            </div>
            <!-- <div class="overlayText">text in the overlaydiv</div> -->
            
            <div *ngIf="displayZoom" class="zoomContainer">
                <!-- <label id="modes-label">Zoom Mode: </label> -->
                <label id="radio-group-axis">Zoom In/Out: <span class="displayValue">
                        {{currentScaleFactor}}</span></label>
                {{1}}
                <mat-slider min="1" max="5" step=".1" [(ngModel)]="currentScaleFactor" (change)="applyZoom()">
                </mat-slider>
                {{5}}
                <br>
                <label id="radio-group-axis">Move Left/Right: <span class="displayValue"> {{ roundUp(currentLeft)
                        }}</span></label>
                -
                <mat-slider [min]="minLeftValue()"
                    [max]="maxLeftValue()" step="10" [(ngModel)]="currentLeft"
                    (change)="moveImage('left', 'zoom')">
                </mat-slider>
                +
                <br>
                <label id="radio-group-axis">Move Up/Down: <span class="displayValue">
                        {{roundUp(currentTop)}}</span></label>
                - <mat-slider [min]="minTopValue()"
                [max]="maxTopValue()" step="10" [(ngModel)]="currentTop"
                (change)="moveImage('left', 'zoom')">
            </mat-slider> +
            </div>
        </span>
        
    </div>

    <div class="slider" [style.top.px]="(plotHeight+heightAdjustment) + 100 + 100">
        <div *ngIf="displayAlignment">
            <label id="modes-label">Alignment: </label>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Left"
                (click)="moveImage('left', 'align')">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Right"
                (click)="moveImage('right', 'align')">
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Up"
                (click)="moveImage('up', 'align')">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Down"
                (click)="moveImage('down', 'align')">
                <mat-icon>arrow_downward</mat-icon>
            </button>

            <button mat-flat-button color="primary" class="custom-button" matTooltip="Expand Plot X-Axis"
                (click)="stretchPlot('x-axis', '+')">
                <mat-icon class="rotate-90">expand</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Compress Plot X-Axis"
                (click)="stretchPlot('x-axis', '-')">
                <mat-icon class="rotate-90">compress</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Expand Plot Y-Axis"
                (click)="stretchPlot('y-axis', '+')">
                <mat-icon>expand</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="custom-button" matTooltip="Compress Plot Y-Axis"
                (click)="stretchPlot('y-axis', '-')">
                <mat-icon>compress</mat-icon>
            </button>

        </div>
        <!-- <div *ngIf="displayZoom">
            <label id="modes-label">Zoom Mode: </label>
            <br>

            <label id="radio-group-axis">Zoom In/Out: <span class="displayValue"> {{currentScaleFactor}}</span></label>
            {{1}}
            <mat-slider min="1" max="5" step=".1" [(ngModel)]="currentScaleFactor" (change)="applyZoom()">
            </mat-slider>
            {{5}}
            <br>
            <label id="radio-group-axis">Move Left/Right: <span class="displayValue"> {{ roundUp(currentLeft)
                    }}</span></label>
            -
            <mat-slider [min]="-plotWidth*currentScaleFactor +plotWidth*2"
                [max]="plotWidth*currentScaleFactor -plotWidth*2" step="10" [(ngModel)]="currentLeft"
                (change)="moveImage('left', 'zoom')">
            </mat-slider>
            +
            <br>
            <label id="radio-group-axis">Move Up/Down: <span class="displayValue">
                    {{roundUp(currentTop)}}</span></label>
            -
            <mat-slider [min]="-plotHeight*currentScaleFactor +plotHeight*2"
                [max]="plotHeight*currentScaleFactor -plotHeight*2" step="10" [(ngModel)]="currentTop"
                (change)="moveImage('left', 'zoom')">
            </mat-slider>
            +
        </div> -->

        <label id="radio-group-axis">Plot Opacity: <span class="displayValue"> {{plotOpacityValue}}</span></label>
        {{0}} %
        <mat-slider min="0" max="1" step=".1" [(ngModel)]="plotOpacityValue"
            (input)="updatePlotOpacity(plotOpacityValue)">
        </mat-slider>
        {{100}} %
        <br>
        <label id="radio-group-axis">Image Opacity: <span class="displayValue"> {{imageOpacityValue}}</span></label>
        {{0}} %
        <mat-slider min="0" max="1" step=".1" [(ngModel)]="imageOpacityValue"
            (input)="updateImageOpacity(imageOpacityValue)">
        </mat-slider>
        {{100}} %
        <br>
        <mat-slide-toggle [(ngModel)]="overlayImage">Overlay Images</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayAlignment" (change)="setAlignmentMode()">Alignment Mode</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayZoom" (change)="setZoomMode()">Zoom Mode</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayPlot">Display Plot</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayImage">Display Image</mat-slide-toggle>
        <br>

        <!-- <br>
        <label id="radio-group-axis">Plot Color: </label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="selectedColor" (change)="onColorChange()">
            <div *ngFor="let plotColor of colors" class="radio-container">
                <mat-radio-button class="example-radio-button" [value]="plotColor">{{plotColor}}</mat-radio-button>
            </div>
        </mat-radio-group>
        <br> -->
        <br>
        <label id="radio-group-axis">Scale Factor:</label>
        <div class="inputContainer">
            <mat-form-field class="example-form-field container" appearance="outline">
                <mat-label>Scale Factor</mat-label>
                <input matInput type="search" name="search" [(ngModel)]="scaleFactorVal"
                    (keyup.enter)="setScaleFactor($event)" class="smallerInput">
                <button *ngIf="scaleFactorVal" matSuffix mat-icon-button aria-label="Clear"
                    (click)="scaleFactorVal = ''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-flat-button color="primary" class="searchButton"
                (click)="setScaleFactor($event)">Submit</button>
        </div>

    </div>

</mat-card>