.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.mat-dialog-title {
  font-size: 16px;
}


.mat-dialog-content {
  max-height: none;
  overflow: visible;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.upload-button {
  max-height: 36px;
}


.upload-button {
  max-width: 200px;
}

.upload-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.upload-warning {
  color: red;
  font-weight: bold;
}
