# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/coverage

# dependencies
/node_modules
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# compodoc
/documentation

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# deployment
/.vagrant/
.terraform/
.terraform.tfstate*
terraform.tfstate*
*.tfvars
/deployment/terraform/*.json

# e2e
/e2e/src/*.js
/e2e/src/*.map
/cypress/screenshots

# System Files
.DS_Store
Thumbs.db

# debug
debug.log

# firebase
/.firebase
.firebaserc
firebase.json

# files that are created by the templating process upon provisioning:
/projects/web-mev/src/app/jwtConfig.ts
/projects/web-mev/src/app/sentry-error-handler.ts
/projects/web-mev/src/environments/environment.ts
/projects/web-mev/src/index.html

# local deployment environment variables
/vagrant/env.txt
