<form *ngIf="analysesForm" [formGroup]="analysesForm" (ngSubmit)="onSubmit()">

  <!-- OPERATION NAME -->
  <ng-container *ngIf="operationData.mode !== 'client'">
    <div class="label">
      Operation name: <span class="redAsterisk">* </span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="Type operation name" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
      <input matInput formControlName="job_name" name="job_name">
    </mat-form-field>
  </ng-container>

  <!-- SINGLE SELECT LISTS FOR RESOURCES REQUIRED -->
  <div *ngFor="let resourceField of resourceFields">
    <div *ngIf="resourceField.required">
      <div class="label">
        {{ resourceField.name }} <span class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ resourceField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="resourceField.key">
          <mat-option *ngFor="let file of resourceField.files" [value]="file.id">
            {{ file.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[resourceField.key].errors">
          <mat-error *ngIf="f[resourceField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- MULTIPLE SELECT LISTS FOR RESOURCES REQUIRED-->
  <div *ngFor="let multipleResourceField of multipleResourceFields">
    <div *ngIf="multipleResourceField.required">
      <div class="form-control form-control--multiselect">
        <div class="label">
          {{ multipleResourceField.name }} <span class="redAsterisk">* </span>
          <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ multipleResourceField.desc}}" aria-label="Info tooltip about the field">info
          </mat-icon>
        </div>
        <angular2-multiselect [formControlName]="multipleResourceField.key" [data]="multipleResourceField.files"
          [(ngModel)]="multipleResourceField.selectedFiles" [settings]="multipleResourcesDropdownSettings">
          <c-item>
            <ng-template let-item="item">
              <label>{{ item.name }} Type: {{ item.readable_resource_type || 'N/A' }}</label>
            </ng-template>
          </c-item>
          <c-badge>
            <ng-template let-item="item">
              <label>{{ item.name }}</label>
            </ng-template>
          </c-badge>
        </angular2-multiselect>
      </div>
    </div>
  </div>

  <!-- NUMERIC FIELDS REQUIRED-->
  <div *ngFor="let numField of numFields">
    <div *ngIf="numField.required">
      <div class="label">
        {{ numField.name }}<span>*</span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ numField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="numField.key" [name]="numField.key">
        <div *ngIf="submitted && f[numField.key].errors">
          <mat-error *ngIf="f[numField.key].errors.required">
            This field is required
          </mat-error>
          <mat-error *ngIf="f[numField.key].errors.min || f[numField.key].errors.max || f[numField.key].errors.pattern">
            The value should be a number between {{ numField.min }} and {{ numField.max }}.
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- INTEGER FIELDS REQUIRED-->
  <div *ngFor="let intField of intFields">
    <div *ngIf="intField.required">
      <div class="label">
        {{ intField.name }} <span class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ intField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="intField.key" [name]="intField.key">
        <div *ngIf="f[intField.key].value && f[intField.key].errors">
          <mat-error *ngIf="f[intField.key].errors.required">
            This field is required
          </mat-error>
          <mat-error *ngIf="f[intField.key].errors.pattern">
            The value should be an integer.
          </mat-error>
          <mat-error *ngIf="f[intField.key].errors.min">
            The value should be an integer greater than or equal to {{ intField.min }}
          </mat-error>
          <mat-error *ngIf="f[intField.key].errors.max">
            The value should be an integer less than or equal to {{ intField.max }}
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- TEXT FIELDS REQUIRED-->
  <div *ngFor="let textField of textFields">
    <div *ngIf="textField.required">
      <div class="label">
        {{ textField.name }} <span class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ textField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="textField.key" [name]="textField.key">
        <div *ngIf="submitted && f[textField.key].errors">
          <mat-error *ngIf="f[textField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- SINGLE SELECT LISTS FOR OBSERVATION SETS REQUIRED-->
  <div *ngFor="let observationField of observationFields">
    <div *ngIf="observationField.required">
      <div class="label">
        {{ observationField.name }} <span class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ observationField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="observationField.key">
          <mat-option *ngFor="let set of observationField.sets" [value]="set">
            {{ set.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[observationField.key].errors">
          <mat-error *ngIf="f[observationField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- SINGLE SELECT LISTS FOR FEATURE SETS REQUIRED-->
  <div *ngFor="let featureField of featureFields">
    <div *ngIf="featureField.required">
      <div class="label">
        {{ featureField.name }} <span class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ featureField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="featureField.key">
          <mat-option *ngFor="let set of featureField.sets" [value]="set">
            {{ set.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[featureField.key].errors">
          <mat-error *ngIf="f[featureField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- SINGLE SELECT LISTS FOR OPERATION OPTIONS REQUIRED-->
  <div *ngFor="let optionField of optionFields">
    <div *ngIf="optionField.required">
      <div class="label">
        {{ optionField.name }} <span class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ optionField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="optionField.key">
          <mat-option *ngFor="let option of optionField.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[optionField.key].errors">
          <mat-error *ngIf="f[optionField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- MULTIPLE SELECT LISTS FOR OPERATION OPTIONS REQUIRED-->
  <div *ngFor="let multipleResourceField of optionsFieldsMultiSelect">
    <div *ngIf="multipleResourceField.required">
      <div class="form-control form-control--multiselect">
        <div class="label">
          {{ multipleResourceField.name }} <span class="redAsterisk">* </span>
          <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ multipleResourceField.desc}}" aria-label="Info tooltip about the field">info
          </mat-icon>
        </div>
        <angular2-multiselect [formControlName]="multipleResourceField.key" [data]="multipleResourceField.files"
          [(ngModel)]="multipleResourceField.selectedFiles" [settings]="multipleResourcesDropdownSettings">
          <c-item>
            <ng-template let-item="item">
              <label>{{ item.id }}</label>
            </ng-template>
          </c-item>
          <c-badge>
            <ng-template let-item="item">
              <label>{{ item.id }}</label>
            </ng-template>
          </c-badge>
        </angular2-multiselect>
      </div>
    </div>
  </div>

  <!-- CHECKBOXES FOR BOOLEAN FIELDS REQUIRED-->
  <ng-container *ngFor="let booleanField of booleanFields">
    <div *ngIf="booleanField.required">
      <div class="form-control" color="accent">
        <mat-checkbox [formControlName]="booleanField.key" [checked]="booleanField.checked">
        </mat-checkbox>
        <span class="label">
          {{ booleanField.name }} <span class="redAsterisk">* </span>
          <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ booleanField.desc}}" aria-label="Info tooltip about the field">info
          </mat-icon>
        </span>
      </div>
    </div>
  </ng-container>

  <!-- SINGLE SELECT LISTS FOR RESOURCES NOT REQUIRED-->
  <div *ngFor="let resourceField of resourceFields">
    <div *ngIf="!resourceField.required">
      <div class="label">
        {{ resourceField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ resourceField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="resourceField.key">
          <mat-option *ngFor="let file of resourceField.files" [value]="file.id">
            {{ file.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[resourceField.key].errors">
          <mat-error *ngIf="f[resourceField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- MULTIPLE SELECT LISTS FOR RESOURCES NOT REQUIRED-->
  <div *ngFor="let multipleResourceField of multipleResourceFields">
    <div *ngIf="!multipleResourceField.required">
      <div class="form-control form-control--multiselect">
        <div class="label">
          {{ multipleResourceField.name }}
          <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ multipleResourceField.desc}}" aria-label="Info tooltip about the field">info
          </mat-icon>
        </div>
        <angular2-multiselect [formControlName]="multipleResourceField.key" [data]="multipleResourceField.files"
          [(ngModel)]="multipleResourceField.selectedFiles" [settings]="multipleResourcesDropdownSettings">
          <c-item>
            <ng-template let-item="item">
              <label>{{ item.name }} Type: {{ item.readable_resource_type || 'N/A' }}</label>
            </ng-template>
          </c-item>
          <c-badge>
            <ng-template let-item="item">
              <label>{{ item.name }}</label>
            </ng-template>
          </c-badge>
        </angular2-multiselect>
      </div>
    </div>
  </div>

  <!-- NUMERIC FIELDS NOT REQUIRED-->
  <div *ngFor="let numField of numFields">
    <div *ngIf="!numField.required">
      <div class="label">
        {{ numField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ numField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="numField.key" [name]="numField.key">
        <div *ngIf="submitted && f[numField.key].errors">
          <mat-error *ngIf="f[numField.key].errors.required">
            This field is required
          </mat-error>
          <mat-error *ngIf="f[numField.key].errors.min || f[numField.key].errors.max || f[numField.key].errors.pattern">
            The value should be a number between {{ numField.min }} and {{ numField.max }}.
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- INTEGER FIELDS NOT REQUIRED-->
  <div *ngFor="let intField of intFields">
    <div *ngIf="!intField.required">
      <div class="label">
        {{ intField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ intField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="intField.key" [name]="intField.key">
        <div *ngIf="f[intField.key].value && f[intField.key].errors">
          <mat-error *ngIf="f[intField.key].errors.required">
            This field is required
          </mat-error>
          <mat-error *ngIf="f[intField.key].errors.pattern">
            The value should be an integer.
          </mat-error>
          <mat-error *ngIf="f[intField.key].errors.min">
            The value should be an integer greater than or equal to {{ intField.min }}
          </mat-error>
          <mat-error *ngIf="f[intField.key].errors.max">
            The value should be an integer less than or equal to {{ intField.max }}
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- TEXT FIELDS NOT REQUIRED-->
  <div *ngFor="let textField of textFields">
    <div *ngIf="!textField.required">
      <div class="label">
        {{ textField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ textField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="textField.key" [name]="textField.key">
        <div *ngIf="submitted && f[textField.key].errors">
          <mat-error *ngIf="f[textField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- SINGLE SELECT LISTS FOR OBSERVATION SETS NOT REQUIRED-->
  <div *ngFor="let observationField of observationFields">
    <div *ngIf="!observationField.required">
      <div class="label">
        {{ observationField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ observationField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="observationField.key">
          <mat-option *ngFor="let set of observationField.sets" [value]="set">
            {{ set.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[observationField.key].errors">
          <mat-error *ngIf="f[observationField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- SINGLE SELECT LISTS FOR FEATURE SETS NOT REQUIRED-->
  <div *ngFor="let featureField of featureFields">
    <div *ngIf="!featureField.required">
      <div class="label">
        {{ featureField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ featureField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="featureField.key">
          <mat-option *ngFor="let set of featureField.sets" [value]="set">
            {{ set.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[featureField.key].errors">
          <mat-error *ngIf="f[featureField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- SINGLE SELECT LISTS FOR OPERATION OPTIONS NOT REQUIRED-->
  <div *ngFor="let optionField of optionFields">
    <div *ngIf="!optionField.required">
      <div class="label">
        {{ optionField.name }}
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ optionField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="optionField.key">
          <mat-option *ngFor="let option of optionField.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f[optionField.key].errors">
          <mat-error *ngIf="f[optionField.key].errors.required">
            This field is required
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>

  <!-- CHECKBOXES FOR BOOLEAN FIELDS NOT REQUIRED-->
  <ng-container *ngFor="let booleanField of booleanFields">
    <div *ngIf="!booleanField.required">
      <div class="form-control" color="accent">
        <mat-checkbox [formControlName]="booleanField.key" [checked]="booleanField.checked">
        </mat-checkbox>
        <span class="label">
          {{ booleanField.name }}
          <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ booleanField.desc}}" aria-label="Info tooltip about the field">info
          </mat-icon>
        </span>
      </div>
    </div>
  </ng-container>
</form>