<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>DecontX Decontamination: {{ outputs?.job_name }}</mat-card-title>
    </mat-card-header>

    <br>
    <mat-card-content class="analysis-card__main">
        <p class="analysis-card__instruction">
            Visualize your Panda regulatory network inference below.
        </p>
        <p class="analysis-card__instruction">
            Note that visualizing the entire network is not feasible; Panda generates an edge weight (a measure
            of
            the evidence for regulation) for each combination of gene and transcription factor and data of that
            size
            is not easily visualized. Hence, we provide tools to subset the results and show the most strongly
            connected elements of the regulatory network. We do this by finding the genes with the greatest sum
            of
            the edge weights and selecting the "children" (transcription factors) which have the largest edge
            weights. For each of those TFs, in turn, we find the genes with the greatest edge weights.
        </p>
        <p class="analysis-card__instruction">
            The number of layers controls how many times we perform that process of switching between finding
            the
            top genes or TFs. The number of children determines the number of "top hits" we find at each level.
        </p>
        <p class="analysis-card__instruction">
            Alternatively, if you have a gene or TF of interest, you can search on that to find networks based
            on
            that search term. Note, however, that a successful gene-based query may not have particularly
            significant edge weights.
        </p>
    </mat-card-content>
    <div class="btn-panel">
        <mat-button-toggle-group #viewMode="matButtonToggleGroup" value="log10" (change)="changeYAxis($event.value)">
            <mat-button-toggle value="log10">
                Log10( Count )
            </mat-button-toggle>
            <mat-button-toggle value="counts">
                Counts
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <div class="sample-list-container">
        <button class="saveObsBtn" mat-raised-button color="accent" (click)="onCreateCustomSampleSet()"
            [disabled]="!selectedSamples.length">
            <mat-icon>add</mat-icon>
            {{'Save as a Sample Set'}}
        </button>
        <br>
        <div class="sample-list">
            <div id="selectedSamplesTitle">
                <p>
                    <span>
                        Selected Samples:
                    </span>
                </p>
            </div>
            <span class="sample-list__item">
                <mat-chip-list>
                    <mat-chip class="sampleChips" color="amber"
                        *ngFor="let item of selectedSamples | slice:0:50; let i=index">{{ item }}
                    </mat-chip>
                    <p *ngIf="selectedSamples.length > 50" id="selectedSamplesElips">
                        <span *ngIf="selectedSamples.length < 1000" matBadge={{selectedSamples.length}}>
                            ...
                        </span>
                        <span *ngIf="selectedSamples.length >= 1000" class="stretch-badge-small"
                            matBadge={{selectedSamples.length}}>
                            ...
                        </span>
                    </p>
                </mat-chip-list>
            </span>
        </div>
    </div>

    <br>
    <!-- <div *ngFor="let item of decontxClass | keyvalue">
        <p>{{ item.key }}</p>
    </div> -->
    <mat-grid-list cols="3" rowHeight="2:1" *ngIf="decontxClass">
        <mat-grid-tile *ngFor="let item of decontxClass | keyvalue">
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj[item.key]">
                        Select Group {{item.key}}
                    </mat-checkbox>
                </section>
                <div [attr.id]="'histogram' +item.key" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile>
        <!-- <mat-grid-tile>
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj['1']">
                        Select Group
                    </mat-checkbox>
                </section>
                <div id="histogram1" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj['2']">
                        Select Group
                    </mat-checkbox>
                </section>
                <div id="histogram2" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj['3']">
                        Select Group
                    </mat-checkbox>
                </section>
                <div id="histogram3" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj['4']">
                        Select Group
                    </mat-checkbox>
                </section>
                <div id="histogram4" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj['5']">
                        Select Group
                    </mat-checkbox>
                </section>
                <div id="histogram5" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-list cols="1" rowHeight="2:1">
                <section class="checkbox">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedObj['6']">
                        Select Group
                    </mat-checkbox>
                </section>
                <div id="histogram6" class="histogram"></div>
            </mat-grid-list>
        </mat-grid-tile> -->

    </mat-grid-list>

</mat-card>