<div class="container" rtl>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-md-8 form-group">
        <mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <h2>{{ 'mev.menu.register' | translate }}</h2>
          </span>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="E-mail"
                     formControlName="email" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <mat-error *ngIf="submitted && f.email.errors">
                E-mail is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="Password"
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors">
                <mat-error *ngIf="f.password.errors.required">
                  Password is required
                </mat-error>
                <mat-error *ngIf="f.password.errors.minlength">
                  Password must be at least 8 characters
                </mat-error>
                <mat-error *ngIf="f.password.errors.pattern">
                  Password must have at least one uppercase letter, one lowercase letter, one number and one special character.
                </mat-error>
                
              </div>
              </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="Confirm password"
                     formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
              <div *ngIf="submitted && f.confirm_password.errors">
                <mat-error *ngIf="f.confirm_password.errors.required">
                  Please confirm your password
                </mat-error>
                <mat-error *ngIf="f.confirm_password.errors.notMatched">
                  Confirm Password does not match with password.
              </mat-error>
              </div>
              </mat-form-field>
          </div>

          <div class="row buttons d-flex justify-content-center pad">
            <button type="submit" mat-raised-button color="accent" [disabled]="loading"
                    [ngClass]="routeAnimationsElements">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register
            </button>
            <button type="button" mat-raised-button color="primary" 
              [ngClass]="routeAnimationsElements" routerLink="/about">
              Cancel
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>
