.mat-dialog-content {
  min-height: 150px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

// .container > * {
//   width: 100%;
// }

.mat-dialog-content {
  max-height: none;
  overflow: visible;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.mat-dialog-actions {
  position: absolute;
  bottom: 0;
}

.hints {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 13.5px;
  position: relative;
  bottom: 14px;
  width: 450px;
}

///new styling
.headerSpan {
  display: flex;
  background-color: #1DA1F2;
  margin: -35px -40px 20px -40px;
}

.dialogTitle {
  justify-content: flex-start;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px 0 10px 30px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.dialogContent{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.6);
  margin-top: 1em;
}

.closeDialogButton {
  margin: 20px 10px 0 0;
  color: white;
}

.closeDialogButton:hover{
  opacity: .75;
}

.submitBtnContainer {
  position: absolute;
  bottom: 0;
  right: 24px;
}
