.analysis-card__img {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 48 48'%3E%3Cpath fill='%23a1887f' d='M9 39V6H7v35h35v-2z'/%3E%3Cg fill='%23a1887f'%3E%3Ccircle cx='39' cy='11' r='3'/%3E%3Ccircle cx='31' cy='13' r='3'/%3E%3Ccircle cx='37' cy='19' r='3'/%3E%3Ccircle cx='34' cy='26' r='3'/%3E%3Ccircle cx='28' cy='20' r='3'/%3E%3Ccircle cx='26' cy='28' r='3'/%3E%3Ccircle cx='20' cy='23' r='3'/%3E%3Ccircle cx='21' cy='33' r='3'/%3E%3Ccircle cx='14' cy='30' r='3'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 30px;
  background-position: top center;
  background-repeat: no-repeat;
}

.analysis-card__content {
  padding-top: 1rem;
}

.chart-title {
  color: #a1887f;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
}

.chart {
  text-align: center;
}

rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

::ng-deep {
  .axis path,
  .axis line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    shape-rendering: crispEdges;
  }

  .label {
    fill: initial;
    font-size: 16px;
  }

  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    z-index: 1;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: '\25BC';
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  .selected {
    fill: red;
    stroke: black;
    stroke-width: 2px;
  }
}

.mat-button-toggle {
  width: 200px;
}

.mat-button-toggle-checked {
  background-color: #e3f0e2 !important;
}

.axis-dropdown-container {
  margin: 20px 5px;
}

.axis-dropdown {
  width: 100px;
  padding: 0 5px;
  margin: 0 30px 0 0;
  border-bottom: 1px solid #ccc;
}

.observation-list-section {
  margin: 20px 5px;

  ul {
    padding-left: 0;
  }

  li {
    display: inline;
    padding: 15px;
  }
}

.sample-list {
  padding: 15px 0;
}

.sample-list__item:not(:last-child):after {
  content: ', ';
}

.status-txt {
  color: #75c075;
}
