<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header *ngIf="showHeader === true">
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>DRAGON: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <br>
    <mat-card-content class="analysis-card__main">
        <p class="analysis-card__instruction">
            Note that visualizing the entire DRAGON network is not feasible; DRAGON generates an edge weight (a partial
            correlation) for each pairwise combination of the features (e.g. genes, methylation marks) in your two input
            matrices. Hence, we provide several methods below to assist in prioritizing and visualizing the top
            candidates. The nodes in the graph represent features from your input matrices, such as genes or methylation
            markers. Edges (lines) represent the partial correlation between the features.
        </p>
        <p class="analysis-card__instruction">
            In addition to the weights of the edges, DRAGON generates a matrix of significance values (adjusted
            p-values) for each edge. We can then threshold the network to only include edges which pass the significance
            threshold set by the user.
        </p>
        <p class="analysis-card__instruction">
            We provide three schemes for prioritizing the most important information in the network. Regardless of the
            scheme, the goal is to select the top “starting” or “seed” nodes. For each of those seed nodes, we can then
            find the neighboring nodes with the largest edge weights; this search can be adjusted with the “max
            neighbors” parameter. This gives a final node set. Finally, we connect the nodes with the significant edges.
        </p>
        <div class="analysis-card__instruction paragraphList">
            The schemes are:
        </div>
        <ul class="analysis-card__instruction">
            <li>
                <strong>Max edges: </strong>This method first finds the top edge weights. Since the edge weights
                represent partial
                correlations which can range from -1 to +1, we find the edges with the greatest absolute value. This
                method prioritizes nodes which may have fewer, but very strong connections. Nodes with many weak
                connections may not be included.
            </li>
            <li>
                <strong>Max weight: </strong>This method looks at each node and takes the sum of the absolute value of
                the incoming
                edges. This prioritizes nodes which either have fewer strong connections or a greater number of weaker
                connections.
            </li>
            <li>
                <strong>Node list: </strong>This method starts from a user-supplied list of nodes.
            </li>
        </ul>
        <p class="analysis-card__instruction">
            Thicker lines indicate greater edge weights (partial correlations) and colors indicate the direction
            (red=negative partial correlation, blue=positive partial correlation). Finally, the significance value of
            the association is shown via the opacity of the edges.
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <br>
        <label id="radio-group-axis">Select a Scheme: </label>
        <mat-radio-group aria-label="Select a Scheme" [(ngModel)]="currScheme">
            <mat-radio-button *ngFor="let options of schemeList" [value]="options.id"
                (change)="onRadioChangeScheme($event.value)">{{ options.name }}</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <mat-form-field class="example-form-field" appearance="outline"
            *ngIf="currScheme === 'max_edges' || currScheme === 'max_weight'">
            <mat-label>Top N</mat-label>
            <input matInput type="number" [(ngModel)]="topNVal" required min="1" max="20">
            <button *ngIf="topNVal" matSuffix mat-icon-button aria-label="Clear" (click)="topNVal=null">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="topNVal && (topNVal < 1 || topNVal > 20)">
                Top N must be between 1 and 20.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list searchField" appearance="outline" *ngIf="currScheme === 'node_list'">
            <mat-label>Add Nodes</mat-label>
            <mat-chip-list #chipList aria-label="Nodes">
                <mat-chip *ngFor="let node of nodeList" (removed)="removeNodeItem(node)">
                    {{node}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input [placeholder]="'Add Nodes...'" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addNodeItem($event)" required>
            </mat-chip-list>
        </mat-form-field>
        <br>
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Sig Threshold</mat-label>
            <input matInput type="number" [(ngModel)]="sigThresholdVal" required min="0" max="1">
            <button *ngIf="sigThresholdVal" matSuffix mat-icon-button aria-label="Clear" (click)="sigThresholdVal=null">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="sigThresholdVal && (sigThresholdVal < 0 || sigThresholdVal > 1)">
                Sig Threshold must be between 0 and 1.
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Max Neighbors</mat-label>
            <input matInput type="number" [(ngModel)]="maxNeighborsVal" min="0" max="10">
            <button *ngIf="maxNeighborsVal" matSuffix mat-icon-button aria-label="Clear" (click)="maxNeighborsVal=null">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="maxNeighborsVal && (maxNeighborsVal < 0 || maxNeighborsVal > 10)">
                Max Neighbors must be between 0 and 10.
            </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="accent" (click)="requestData('topGenes')">Submit</button>
        <br>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br>
        <label id="radio-group-axis">Select Layout: </label>
        <mat-radio-group aria-label="Select an Layout" [(ngModel)]="currLayout">
            <mat-radio-button *ngFor="let options of layoutList" [value]="options"
                (change)="onRadioChangeLayout($event.value)">{{ options }}</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <div id="minimumEdgeWeight">
            <label id="radio-group-axis">Minimum Edge Weight: </label>
            {{0}}
            <mat-slider thumbLabel [tickInterval]="roundMaxEdgeWeight/10" [step]="roundMaxEdgeWeight/10" min="0"
                [max]="roundMaxEdgeWeight" aria-label="units" (change)="updateMinEdgeWeightSlider($event)"
                [(ngModel)]="sliderValue">
            </mat-slider>
            {{roundMaxEdgeWeight}}
            <button mat-raised-button color="accent" (click)="filterEdges()" [disabled]="disableFilter"
                class="filterButton">Filter</button>
        </div>
        <br>
        <br>
        <button *ngIf="displayGraph" id="downloadButton" mat-button (click)="onSaveImagePNG()">
            <mat-icon>save_alt</mat-icon>
        </button>
        <mat-divider [inset]="true"></mat-divider>
        <div class="analysis-card__content">
            <p *ngIf="isLoading === true">Please wait... </p>
            <div *ngIf="displayGraph" id="cy"></div>
        </div>
    </mat-card-content>
</mat-card>