<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>

        <mat-card-title>PANDA: {{ outputs?.job_name }}</mat-card-title>
    </mat-card-header>

    <mat-tab-group dynamicHeight (selectedTabChange)="tabChange()">
        <mat-tab>
            <ng-template mat-tab-label>Top Genes</ng-template>
            <mat-card-content class="analysis-card__main">
                <p class="analysis-card__instruction">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat.
                </p>
                <p class="analysis-card__instruction">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.
                </p>

                <label id="radio-group-axis">Select an Axis: </label>
                <mat-radio-group aria-label="Select an Axis" [(ngModel)]="apiAxis">
                    <mat-radio-button *ngFor="let options of radioButtonList" [value]="options.axis"
                        (change)="onRadioChangeAxis($event.value)">{{ options.name }}</mat-radio-button>
                </mat-radio-group>
                <br>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Number of Layers</mat-label>
                    <mat-select [(value)]="selectedLayers" (selectionChange)="onDropDownChange($event.value, 'layers')">
                        <mat-option [value]="option" *ngFor="let option of layersList">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Number of Children</mat-label>
                    <mat-select [(value)]="selectedChildren"
                        (selectionChange)="onDropDownChange($event.value, 'children')">
                        <mat-option [value]="option" *ngFor="let option of childrenList">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button color="accent" (click)="requestData('topGenes')">Submit</button>
                <br>
                <br>
                <mat-divider [inset]="true"></mat-divider>

                <br>
                <label id="radio-group-axis">Select Layout: </label>
                <mat-radio-group aria-label="Select an Axis" [(ngModel)]="currLayout">
                    <mat-radio-button *ngFor="let options of layoutList" [value]="options"
                        (change)="onRadioChangeLayout($event.value)">{{ options }}</mat-radio-button>
                </mat-radio-group>
                <br>
                <br>
                <div>
                    <label id="radio-group-axis">Minimum Edge Weight: </label>
                    {{0}}
                    <mat-slider thumbLabel tickInterval="2" step="1" min="0" max="20" aria-label="units"
                        (change)="updateSlider($event)">
                    </mat-slider>
                    {{20}}
                    <button mat-raised-button color="accent" (click)="filterEdges()" [disabled]="hideFilter"
                        class="filterButton">Filter</button>
                </div>

                <br>
                <br>

                <button id="downloadButton" mat-button (click)="onSaveImagePNG()">
                    <mat-icon>save_alt</mat-icon>
                </button>

                <mat-divider [inset]="true"></mat-divider>

                <div class="analysis-card__content">
                    <p *ngIf="isLoading === true">Please wait... </p>
                    <div *ngIf="displayGraph" id="cy"></div>
                </div>
            </mat-card-content>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>By Genes</ng-template>
            <br>
            <p class="analysis-card__instruction">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex
                ea commodo consequat.
            </p>
            <p class="analysis-card__instruction">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est
                laborum.
            </p>

            <mat-form-field class="example-chip-list searchField" appearance="outline">
                <mat-label>Search Terms</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let gene of searchTerms" (removed)="removeSearchItem(gene)">
                        {{gene}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="New gene..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addSearchItem($event)">
                </mat-chip-list>
            </mat-form-field>


            <label id="radio-group-axis">Select an Axis: </label>
            <mat-radio-group aria-label="Select an Axis" [(ngModel)]="apiAxis">
                <mat-radio-button *ngFor="let options of radioButtonList" [value]="options.axis"
                    (change)="onRadioChangeAxis($event.value)">{{ options.name }}</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Number of Layers</mat-label>
                <mat-select [(value)]="selectedLayers" (selectionChange)="onDropDownChange($event.value, 'layers')">
                    <mat-option [value]="option" *ngFor="let option of layersList">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Number of Children</mat-label>
                <mat-select [(value)]="selectedChildren" (selectionChange)="onDropDownChange($event.value, 'children')">
                    <mat-option [value]="option" *ngFor="let option of childrenList">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" (click)="requestData('Search')">Submit</button>
            <br>
            <br>

            <mat-divider [inset]="true"></mat-divider>

            <br>
            <label id="radio-group-axis">Select Layout: </label>
            <mat-radio-group aria-label="Select an Axis" [(ngModel)]="currLayout">
                <mat-radio-button *ngFor="let options of layoutList" [value]="options"
                    (change)="onRadioChangeLayout($event.value)">{{ options }}</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>
            <div>
                <label id="radio-group-axis">Minimum Edge Weight: </label>
                {{0}}
                <mat-slider thumbLabel tickInterval="2" step="1" min="0" max="20" aria-label="units"
                    (change)="updateSlider($event)">
                </mat-slider>
                {{20}}
                <button mat-raised-button color="accent" class="filterButton" (click)="filterEdges()" [disabled]="hideFilter">Filter</button>
            </div>

            <br>
            <mat-divider [inset]="true"></mat-divider>

            <button id="downloadButton" mat-button (click)="onSaveImagePNG()">
                <mat-icon>save_alt</mat-icon>
            </button>

            <div class="analysis-card__content">
                <p *ngIf="isLoading === true">Please wait... </p>
                <div *ngIf="displayGraph" id="cy"></div>
            </div>

        </mat-tab>
    </mat-tab-group>


</mat-card>