#cy {
    height: 600px;
    background-color: transparent;
}

.analysis-card__img {
    background-image: url('./panda2.png');
    background-size: 30px;
    background-position: top right;
    background-repeat: no-repeat;
}

.analysis-card__content {
    padding-top: 1rem;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

#radio-group-axis {
    display: block;
}

mat-slider {
    width: 400px;
}

#downloadButton {
    float: right;
    z-index: 99;
}

.searchField{
    width: 50%;
}
