<mev-spinner-overlay *ngIf="isWait"></mev-spinner-overlay>

<section class="ann-container">
    <mat-card class="main-card">
        <mat-card-content class="metadata-card__main">
            <div class="metadata-card__instruction">
                <p>
                    Select an annotation file to create groups of samples/observations. These groups can be used for comparative analyses or plotting.
                </p>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="ann-card__content">
                <div *ngIf="files.length === 0">
                    <p class="warn">There are no annotation files in this workspace.</p>
                </div>
                <form [formGroup]="form">
                    <div class="form-wrapper" *ngIf="files.length > 0">
                        <mat-form-field class="form-control" color="accent">
                            <mat-label>Annotation file</mat-label>
                            <mat-select formControlName=annotation [(value)]="selectedAnnotationFileId"
                                (selectionChange)="onSelectAnnotationFile()">
                                <mat-option *ngFor="let file of files | annotationFilesPipe" [value]="file.id">
                                    {{ file.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="attributes.length" class="form-control" color="accent">
                            <mat-label>Annotation attribute</mat-label>
                            <mat-select formControlName=attribute [(value)]="selectedAttribute" (selectionChange)="onSelectAttribute()">
                                <mat-option *ngFor="let attribute of attributes" [value]="attribute">
                                    {{ attribute }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div *ngIf="showValueTypes">
                            <mat-label>How would you like to treat this data?
                                <mat-icon matTooltipClass="tooltip" fontSet="material-icons-outlined"
                                matTooltip="{{continuousVersusFactorDesc}}" aria-label="Info about continuous versus discrete values">info
                              </mat-icon>
                            </mat-label>
                            <mat-radio-group formControlName=valueType class="form-control value-type-group" (change)="onValueTypeChange($event)">
                                <mat-radio-button *ngFor="let vt of VALUE_TYPES" [value]="vt" class="radio-b">
                                    {{vt}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div id="showBtn" *ngIf="displayButtonVisible">
                            <button mat-raised-button color="accent" [disabled]="!displayButtonActive" (click)="showTheData()">
                                {{displayButtonText}}
                            </button>
                        </div>

                    </div>
                </form>

                <div id="displayWrapper" *ngIf="dataIsDisplayed">
                    <ng-container *ngIf="selectedValueType === CONTINUOUS">
                        <continuous-distribution-ann-display [fieldName]="selectedAttribute" [data]="attributeData"></continuous-distribution-ann-display>
                    </ng-container>
                    <ng-container *ngIf="selectedValueType === FACTOR">
                        <factor-ann-display [fieldName]="selectedAttribute" [data]="attributeData"></factor-ann-display>
                    </ng-container>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>