<mev-spinner-overlay *ngIf="isWait"></mev-spinner-overlay>
<div *ngIf="!isWait">
    <section class="observation-list-section">
        <ul *ngIf="customObservationSets.length"> Group observations by:
            <li *ngFor="let set of customObservationSets">
                <mat-checkbox (change)="onObservationCheck($event)" [id]="set.name">{{ set.name }}</mat-checkbox>
            </li>
        </ul>
    </section>
    <div class="button-panel">
        <!-- <button mat-raised-button color="accent" (click)="onCreateCustomFeatureSet()">
          <mat-icon>add</mat-icon>
          Save as a feature set
        </button> -->
        <mev-download-button [containerId]="containerId" [imageName]="imageName"></mev-download-button>
    </div>
    <div #boxPlot id="boxPlot" class="chart" (window:resize)="onResize($event)"></div>
</div>
