<section class="analysis-container">
    <mat-card class="analysis-card">
        <mat-card-content class="analysis-card__main">
            <p class="analysis-card__instruction">
                Here is the overview of the analysis as a complete DAG of the steps performed.
                Hover the tree nodes to see more detailed info about files and operations.
                Click on a "gear" node to view the operation results.
            </p>
            <mat-divider [inset]="true"></mat-divider>
            <div class="analysis-card__content">
                <div *ngIf="noDataIsAvailable">No data is available</div>
                <div class="chart" #dagPlot id="dagPlot"></div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
