<section class="analysis-container">
    <mat-card class="analysis-card">
        <mat-card-content class="analysis-card__main">
            <p class="analysis-card__instruction">
                Below is a visual representation of your analysis. 
                You can view which analyses were run and with which files so that analyses can be fully reproduced.
            </p>
            <mat-divider [inset]="true"></mat-divider>
            <div class="analysis-card__content">
                <div class="btn-group">
                    <button mat-raised-button color="accent" (click)="saveAnalysisHistory()" disabled=true>
                      <mat-icon aria-label="Export analysis history">save_alt</mat-icon>
                      Export analysis history
                    </button>
                </div>    
                <div *ngIf="noDataIsAvailable">No data is available</div>
                <div class="chart" #dagPlot id="dagPlot"></div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
