<div class="container">
  <span class="headerSpan">
    <div class="dialogTitle">Upload File</div>
    <button class="closeDialogButton" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <h3 mat-dialog-title class="dialogContent">Locate and select one or more files on your computer.
    <br> Then click the Upload button.</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

     <div class="form">
      <button mat-raised-button color="accent" (click)="onUploadBtnClick()" class="upload-button">
        <mat-icon>file_upload</mat-icon>
        Select files
      </button>
      <br>
      <!--span *ngIf="file_name" id="file-label"> {{ file_name }} </span-->
      <div *ngIf="validSelections" class="upload-info dialogContent">
        You selected the following file(s) for upload:
        <ul>
          <li *ngFor="let fileName of fileNames">
            <span id="file-label"> {{ fileName }}
            </span>
          </li>
        </ul>
      </div>
      <div>
        <span *ngIf="isLargeFile" class="upload-warning"> 
            One or more of your selected files is larger than what WebMeV is configured to support for direct uploads. 
            Please use another upload method more appropriate for large files. 
          </span> 
          <ul>
            <li *ngFor="let fileName of largeFileNames">
              <span id="file-label" class="upload-warning"> {{ fileName }}
              </span>
            </li>
          </ul>
      </div>
      
      <input type="file" #fileUpload (change)="setFile($event)" id="fileUpload" name="upload_file" multiple="multiple" required style="display:none;"/>
      <mat-error *ngIf="!fileSelected">
        <span class="help-block error" [hidden]="!fileSelected">
          File is Required
        </span>
      </mat-error>

    </div>

    <!--div class="form">

      <mat-form-field color="accent">
        <mat-label>Select a resource type</mat-label>
        <mat-select [(ngModel)]=data.resource_type name="resource_type" required>
          <mat-option *ngFor="let type of resourceTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

    </div-->
    <div class="submitBtnContainer">
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      <button mat-button mat-raised-button color="accent" [type]="submit" [disabled]="!(formControl.valid && validSelections)" [mat-dialog-close]="1" (click)="confirmAdd()">Upload</button>
    </div>
  </form>
</div>
