.mat-dialog-content {
  min-height: 550px;
  max-height: none;
  overflow: visible;
  position: relative;
}

.form-control {
  width: 100%;
}

table {
  width: 100%;
}

.mat-dialog-actions {
  position: absolute;
  bottom: 0;
}
