mat-card {
  margin-top: 50px;
  margin-bottom: 20px;
}

.mat-form-field {
  padding: 0 30px;
}

form {
  width: 100%;
}

.buttons {
  margin: 20px 0;
}

button {
  margin-right: 5px;
  margin-left: 5px;
}

.msg {
  padding: 10px 10px 20px;
  color: #666;
  font-size: 14px;
  text-align: justify;
}

.msg--error {
  color: red;
}

.msg--success {
  color: green;
}
