<h3>{{ operation.name }}</h3>
<p [innerHTML]='operation.description'></p>

<div>
  <div *ngIf="customInput; else defaultBlock">
    <div *ngIf="differentialExpressionTools.includes(operationData.name)">
      <differential-expression-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></differential-expression-input>
    </div>

    <div *ngIf="operationData.name === 'K-means'">
      <kmeans-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></kmeans-input>
    </div>

    <div *ngIf="operationData.name === 'Likelihood ratio test'">
      <likelihood-ratio-test-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></likelihood-ratio-test-input>
    </div>

    <div *ngIf="operationData.name === 'MAST Single-cell differential expression'">
      <sctk-mast-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></sctk-mast-input>
    </div>

    <div *ngIf="operationData.name === 'ComBat-seq'">
      <combatseq-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></combatseq-input>
    </div>

    <div *ngIf="operationData.name === 'SNF (Similarity Network Fusion)'">
      <snf-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></snf-input>
    </div>
  
    <div *ngIf="operationData.name === 'spatialGE Spatial Gradient Testing (STgradient)'">
      <stgradient-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></stgradient-input>
    </div>

    <div *ngIf="operationData.name === 'spatialGE Spatial Autocorrelation (SThet)'">
      <stheit-input [operationData]="operationData" [workspaceId]="workspaceId"
        (formValid)="alterFormStatus($event)"></stheit-input>
    </div>

  </div>

  <ng-template #defaultBlock>
    <default-operation-inputs [operationData]="operationData" [workspaceId]="workspaceId" [workspace$]="workspace$"
      (formValid)="alterFormStatus($event)">
    </default-operation-inputs>
  </ng-template>

  <div>
    <button mat-raised-button color="accent" type="submit" [disabled]="!formIsValid" (click)="startAnalysis()">Run
    </button>

    <!-- <button mat-raised-button color="accent" type="submit" (click)="startAnalysis()">Run
    </button>  </div> -->
</div>