<h3>{{ operation.name }}</h3>
<p [innerHTML]='operation.description'></p>

<div>
  <div *ngIf="customInput; else defaultBlock">
    <div *ngIf="operationData.name == 'DESeq2'">
      <differential-expression-input [operationData]="operationData" [workspaceId]="workspaceId" (formValid)="alterFormStatus($event)"></differential-expression-input>
    </div>
  </div>

  <ng-template #defaultBlock>
    <default-operation-inputs [operationData]="operationData" [workspaceId]="workspaceId" [workspace$]="workspace$"
      (formValid)="alterFormStatus($event)">
    </default-operation-inputs>
  </ng-template>

  <div>
    <button mat-raised-button color="accent" type="submit" [disabled]="!formIsValid"
      (click)="startAnalysis()">Run
    </button>
  </div>
</div>