<h3>{{ operation.name }}</h3>
<p [innerHTML]='operation.description'></p>

<form *ngIf="analysesForm" [formGroup]="analysesForm" (ngSubmit)="onSubmit()">

  <!-- OPERATION NAME -->
  <ng-container *ngIf="operation.mode !== 'client'">
    <div class="label">
      Operation name:*
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="Type operation name" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>

    <mat-form-field class="form-control" color="accent">
      <input matInput formControlName="job_name" name="job_name">
    </mat-form-field>
  </ng-container>

  <!-- SINGLE SELECT LISTS FOR RESOURCES -->
  <div *ngFor="let resourceField of resourceFields">
    <div class="label">
      {{ resourceField.name }}<span *ngIf="resourceField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ resourceField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
      <mat-select [formControlName]="resourceField.key">
        <mat-option *ngFor="let file of resourceField.files" [value]="file.id">
          {{ file.name }}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f[resourceField.key].errors">
        <mat-error *ngIf="f[resourceField.key].errors.required">
          This field is required
        </mat-error>
      </div>
    </mat-form-field>
  </div>



  <!-- MULTIPLE SELECT LISTS FOR RESOURCES -->
  <div *ngFor="let multipleResourceField of multipleResourceFields">
    <div class="form-control form-control--multiselect">
      <div class="label">
        {{ multipleResourceField.name }}<span *ngIf="multipleResourceField.required">*</span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ multipleResourceField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </div>
      <angular2-multiselect [formControlName]="multipleResourceField.key" [data]="multipleResourceField.files"
        [(ngModel)]="multipleResourceField.selectedFiles" [settings]="multipleResourcesDropdownSettings">
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.name }} Type: {{ item.readable_resource_type || 'N/A' }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label>{{ item.name }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
    </div>
  </div>




  <!-- NUMERIC FIELDS -->

  <div *ngFor="let numField of numFields">
    <div class="label">
      {{ numField.name }}<span *ngIf="numField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ numField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
      <input matInput [formControlName]="numField.key" [name]="numField.key">
      <div *ngIf="submitted && f[numField.key].errors">
        <mat-error *ngIf="f[numField.key].errors.required">
          This field is required
        </mat-error>
        <mat-error *ngIf="f[numField.key].errors.min || f[numField.key].errors.max || f[numField.key].errors.pattern">
          The value should be a number between {{ numField.min }} and {{ numField.max }}.
        </mat-error>
      </div>
    </mat-form-field>
  </div>

  <!-- INTEGER FIELDS -->

  <div *ngFor="let intField of intFields">
    <div class="label">
      {{ intField.name }}<span *ngIf="intField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ intField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
      <input matInput [formControlName]="intField.key" [name]="intField.key">
      <div *ngIf="f[intField.key].value && f[intField.key].errors">
        <mat-error *ngIf="f[intField.key].errors.required">
          This field is required
        </mat-error>
        <mat-error *ngIf="f[intField.key].errors.pattern">
          The value should be an integer.
        </mat-error>
        <mat-error *ngIf="f[intField.key].errors.min">
          The value should be an integer greater than or equal to {{ intField.min }}
        </mat-error>
        <mat-error *ngIf="f[intField.key].errors.max">
          The value should be an integer less than or equal to {{ intField.max }}
        </mat-error>
      </div>
    </mat-form-field>
  </div>


  <!-- TEXT FIELDS -->

  <div *ngFor="let textField of textFields">
    <div class="label">
      {{ textField.name }}<span *ngIf="textField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ textField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>

    <mat-form-field class="form-control" color="accent">
      <input matInput [formControlName]="textField.key" [name]="textField.key">
      <div *ngIf="submitted && f[textField.key].errors">
        <mat-error *ngIf="f[textField.key].errors.required">
          This field is required
        </mat-error>
      </div>
    </mat-form-field>
  </div>


  <!-- SINGLE SELECT LISTS FOR OBSERVATION SETS -->
  <div *ngFor="let observationField of observationFields">
    <div class="label">
      {{ observationField.name }}<span *ngIf="observationField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ observationField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>

    <mat-form-field class="form-control" color="accent">
      <mat-select [formControlName]="observationField.key">
        <mat-option *ngFor="let set of observationField.sets" [value]="set">
          {{ set.name }}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f[observationField.key].errors">
        <mat-error *ngIf="f[observationField.key].errors.required">
          This field is required
        </mat-error>
      </div>
    </mat-form-field>
  </div>

  <!-- SINGLE SELECT LISTS FOR FEATURE SETS -->
  <div *ngFor="let featureField of featureFields">
    <div class="label">
      {{ featureField.name }}<span *ngIf="featureField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ featureField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>

    <mat-form-field class="form-control" color="accent">
      <mat-select [formControlName]="featureField.key">
        <mat-option *ngFor="let set of featureField.sets" [value]="set">
          {{ set.name }}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f[featureField.key].errors">
        <mat-error *ngIf="f[featureField.key].errors.required">
          This field is required
        </mat-error>
      </div>
    </mat-form-field>
  </div>


  <!-- SINGLE SELECT LISTS FOR OPERATION OPTIONS -->
  <div *ngFor="let optionField of optionFields">
    <div class="label">
      {{ optionField.name }}<span *ngIf="optionField.required">*</span>
      <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
        matTooltip="{{ optionField.desc}}" aria-label="Info tooltip about the field">info
      </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
      <mat-select [formControlName]="optionField.key">
        <mat-option *ngFor="let option of optionField.options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f[optionField.key].errors">
        <mat-error *ngIf="f[optionField.key].errors.required">
          This field is required
        </mat-error>
      </div>
    </mat-form-field>
  </div>


  <!-- CHECKBOXES FOR BOOLEAN FIELDS -->
  <ng-container *ngFor="let booleanField of booleanFields">
    <div class="form-control" color="accent">
      <mat-checkbox [formControlName]="booleanField.key" [checked]="booleanField.checked">
      </mat-checkbox>
      <span class="label">
        {{ booleanField.name }}<span *ngIf="booleanField.required">*</span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
          matTooltip="{{ booleanField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
      </span>
    </div>
  </ng-container>

  <div>
    <button mat-raised-button color="accent" type="submit" [disabled]="!analysesForm.valid"
      (click)="startAnalysis()">Run
    </button>
  </div>

</form>