<div class="container">
  <span class="headerSpan">
    <div class="dialogTitle">Delete</div>
    <button class="closeDialogButton" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <div class="title">This file will be deleted. Are you sure?</div>
  <br>
  <div class="content">
    File name: {{data.name}}
    <br>
    File type: {{ data.readable_resource_type || 'N/A' }}
    <br>
  </div>
  <br>
  <br>
  <div class="submitBtnContainer">
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()" mat-raised-button color="accent">Delete</button>
  </div>
</div>