<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>SNF: {{ outputs?.job_name }}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content class="analysis-card__main">
        <!-- <p class="analysis-card__instruction">
            Visualize your Panda regulatory network inference below.
        </p> -->
        <p class="analysis-card__instruction">
            Below, we display the SNF results as a graph. Nodes/samples are colored by the assigned cluster and links
            between the nodes are shown by weighted lines (thicker lines indicate greater similarity between samples.
            Generally, a good clustering result would show many links within the cluster and fewer links between the
            clusters. Note that visualization and layout of these graphs can be challenging, particularly for cohorts
            with many samples.
        </p>
    </mat-card-content>
    <label id="radio-group-axis">Select Layout: </label>
    <mat-radio-group aria-label="Select an Axis" [(ngModel)]="currLayout">
        <mat-radio-button *ngFor="let options of layoutList" [value]="options"
            (change)="onRadioChangeLayout($event.value)">
            {{ options }}</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>
    <div>
        <label id="radio-group-axis">Similarity Threshold (%): </label>
        {{1}}
        <mat-slider thumbLabel tickInterval="0.5" step="0.5" min="1" max="5" aria-label="units"
            (change)="updateSlider($event)" [(ngModel)]="sliderValue">
        </mat-slider>
        {{5}}
        <button id="filterBtn" mat-raised-button color="accent" class="filterButton" (click)="filterThreshold()"
            [disabled]="disableFilter">Filter</button>
    </div>
    <br>
    <button mat-raised-button color="accent" (click)="importClusters()" [disabled]="clusterCount === 0">
        <mat-icon>add</mat-icon>
        Add these clusters to your workspace metadata
    </button>
    <br>
    <br>
    <mat-divider [inset]="true"></mat-divider>
    <br>
    <div id="cy"></div>
</mat-card>