<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<div class="analysis-card__content">
    <!-- <p *ngIf="isLoading === true">Please wait... </p> -->
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>SNF: {{ outputs?.job_name }}</mat-card-title>
    </mat-card-header>
    <label id="radio-group-axis">Select Layout: </label>
    <mat-radio-group aria-label="Select an Axis" [(ngModel)]="currLayout">
        <mat-radio-button *ngFor="let options of layoutList" [value]="options"
            (change)="onRadioChangeLayout($event.value)">{{ options }}</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>
    <div id="cy"></div>
</div>