.headerSpan {
    display: flex;
    background-color: #1DA1F2;
    margin: -25px -30px 0 -30px;
}

.dialogTitle {
    justify-content: flex-start;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.closeDialogButton {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    margin: 10px 10px 0 0;
    color: white;
}

.inputField {
    width: 100%;
    margin-top: 20px;
}

.submitBtnContainer {
    display: flex;
    justify-content: flex-end;
}
