<span class="headerSpan">
  <div class="dialogTitle">Send us your feedback! </div>
  <div class="closeDialogButton" mat-dialog-close>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</span>

<form (ngSubmit)="onSubmit($event)">
  <mat-form-field class="inputField" appearance="outline">
    <mat-label>How can we improve?</mat-label>
    <textarea name="comments" matInput rows="7"></textarea>
  </mat-form-field>
  <div class="submitBtnContainer">
    <button type="submit" [mat-dialog-close]="true" mat-raised-button color="accent">Submit</button>
  </div>
</form>