<span class="headerSpan">
  <div class="dialogTitle">Contact Us</div>
  <div >
    <button class="closeDialogButton" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</span>

<div class="dialogContent">Please let us know about any comments or issues you have to improve WebMeV. If you have
  specific analyses you would like to see, let us know that too!</div>

<form (ngSubmit)="onSubmit($event)">
  <mat-form-field class="inputField" appearance="outline">
    <mat-label>Message</mat-label>
    <textarea name="comments" matInput rows="7" value=" "></textarea>
  </mat-form-field>
  <div class="submitBtnContainer">
    <button type="submit" [mat-dialog-close]="true" mat-raised-button color="accent">Send</button>
  </div>
</form>