@import "../../../../styles-variables";

h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.background {
  padding: 50px 0 0 0;
  position: relative;

  .actions {
    text-align: center;
    margin: 50px;
    z-index: 1;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 20px 10px 30px 10px;
    }

    a {
      margin: 0 5px 10px 0;
      text-decoration: none;

      &.actions-main {
        text-transform: uppercase;
        padding: 3px 24px;
      }

      fa-icon {
        position: relative;
        bottom: 1px;
      }
    }
  }

  .get-started {
    max-width: 700px;
    margin: 50px auto;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;
    overflow: hidden;

    code {
      font-size: 0.9em;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
  }

  /* &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../../assets/logo.png') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }*/

  .gradient {
    &::before {
      position: absolute;
      top: 51%;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      z-index: 0;
    }
  }

  .container {
    position: relative;
    max-width: none;
  }
}

.follow-releases {
  max-width: 700px;
  margin: 0 auto 60px auto;

  p {
    line-height: 40px;
  }

  img {
    display: block;
    max-width: 80%;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.mev-section {
  margin: 30px auto 30px auto;
}

.mev-heading {
  font-weight: bold;
}

mat-card {
  margin: 0 0 20px 0;
}
.mat-card-header {
  justify-content: space-between;
}

.contributors {
  max-width: 700px;
  margin: 0 auto 60px auto;

  .contributors-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    a {
      margin: 8px;
      width: 100px;
      display: inline-block;
      text-align: center;

      span {
        display: inline-block;
        padding: 10px 0 0 0;
        line-height: 16px;
      }

      img {
        border-radius: 50%;
        width: 100px;
        border: 5px solid;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.mat-expansion-panel,
.mat-expansion-panel:hover {
  box-shadow: none !important;
  background-color: transparent !important;
}

.mat-expansion-panel-header {
  padding-left: 0 !important;
}
.mat-content{
  flex: .7 !important;
}

.changeLogHeader {
  font-size: 30px;
  font-weight: bold;
}

.releaseText {
  line-height: 1;
  font-weight: 400;
  font-size: 10px;
  display: inline-block;
  padding: 1px 4px;
  margin-left: 2px;
  border-radius: 2px;
  border: 1px solid rgb(55, 180, 0);
  color: rgb(55, 180, 0);
}

.versionDate {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.updates{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0,0,0,.8);
}
.expandIcon{
  background-color: tomato;
  color: white;
  border-radius: 36px;
  // padding: 20px;
  right: 20px;
  top: 25%;
  position: absolute;
  z-index: 99;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
    .actions {
      margin: 50px 0;
    }
    .get-started {
      width: auto;
    }
  }
  .follow-releases {
    width: auto;

    img {
      max-width: 100%;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0 0 0;

    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 10px 0 20px 0;
      }

      a {
        width: 100%;
      }
    }

    .get-started {
      width: auto;
      margin: 40px auto 40px auto;
    }
  }

  .follow-releases {
    margin: 0 auto 40px auto;
  }
}
