<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-9 contentBody">
          <article>
            <h1 class="mat-h1">{{ 'mev.title.long' | translate }}</h1>
            <div class="mev-section">
              <p>WebMeV (Multiple Experiment Viewer) is a cloud-based application supporting <i><b>analysis</b></i>,
                <i><b>visualization</b></i>,
                and <i><b>stratification</b></i> of large genomic data, particularly for RNA-Seq and microarray data.
              </p>
              <p>Past versions of WebMeV were limited to analyses with relatively small memory and computational
                resources. In this updated version, we
                incorporate a number of technologies that will allow large-scale processing of raw sequencing data,
                greatly expanding the capabilities
                of an interactive, browser-based analysis tool.
              </p>
              <p class="">With WebMeV platform, you can:</p>
              <p><span class="mev-heading">Perform integrative, reproducible NGS analysis</span>, including clustering,
                differential expression,
                and functional analysis. Much of the analyses focus on using transcriptome/RNA-Seq data, but the
                platform is not limited to this application.
                We continue to update and add new analyses, so check back frequently.
              </p>
              <p><span class="mev-heading">Access to Public Domain Data</span> - Directly search
                and create TCGA, TARGET, and GTEx
                gene expression and sample attribute data</p>
              <p><span class="mev-heading">Stratify Cohorts using Clinical Attributes</span> - Perform complex cohort
                stratification using familiar search and filtering capabilities.</p>
            </div>
            <div class="mev-section">
              <p>WebMeV was built to meet the challenge of exploring large public genomic data set and
                Next-Generation Sequencing data with intuitive graphical interface for analysis. WebMeV is a <i>free and
                  open-source</i>
                cloud service platform. All analyses are version-controlled and made available through our GitHub
                repository. This enables
                transparent and reproducible analysis that can be run on any computational infrastructure, independent
                of the WebMeV platform.
              </p>
            </div>
            <div class="mev-section">
              <p><span class="mev-heading">Where to start</span> - Our quickstart guide is available here: <a
                  href="https://web-mev.github.io/quickstart">WebMeV Quickstart</a>.
              </p>
              <p><span class="mev-heading">Tutorials and Documentation</span> - Full documentation and an RNA-Seq case
                study is available at
                the <a href="https://web-mev.github.io">WebMeV User Guide</a></p>
              <p><span class="mev-heading">Customized Analysis</span> - Complex bioinformatics and data science analysis
                outside the
                scope of WebMeV functionalities can contact the Quantitative Biomedical Research Center (qBRC) at the
                Harvard T.H. Chan School of Public Health to
                inquire about consulting services.
                <a href="https://www.hsph.harvard.edu/qbrc/">Click here for more information</a>.
              </p>
            </div>

            <mat-accordion>
              <mat-expansion-panel class="expansionPanel" [expanded]="!showResult" (opened)="showResult = false"
                (closed)="showResult = true">
                <mat-expansion-panel-header class="changeLogHeader">
                  Change Log
                  <mat-icon class="expandIcon">{{showResult ? 'add' : 'remove'}}</mat-icon>
                </mat-expansion-panel-header>
                <mat-card-content class="analysis-card__main">
                  <div class="releaseText">
                    Latest Release
                  </div>
                  <div class="versionDate">
                    21 June 2023
                  </div>
                  <ul class="updates">
                    <li>
                      New file formats: In anticipation of future analysis tools featuring these file types, we now will
                      accept BED, BED6, BED6+4 (narrowpeak), bedgraph, wig, and bigwig formats.
                    </li>
                    <li>
                      IGV: We now have integrated the browser-based implementation igv.js into the WebMeV interface.
                      This will allow you to load and visually inspect various BED-like and BAM file formats. The IGV
                      viewer is available in your workspace(s).
                    </li>
                    <li>
                      SNF: To enable patient/sample clustering using multiple data types (e.g. expression, methylation,
                      miRNA), we have added Similarity Network Fusion. We will soon be adding public data sources for
                      methylation data such as TCGA.
                    </li>
                    <li>
                      PUMA: Another animal from the Quackenbush lab’s NetZoo project. This tool infers miRNA regulatory
                      networks.
                    </li>
                  </ul>
                  <div class="versionDate">
                    27 March 2023
                  </div>
                  <ul class="updates">
                    <li>
                      Added support for <a href="https://www.globus.org/">Globus</a> file transfers
                    </li>
                    <li>
                      Improvements and bug-fixes for heatmaps.
                    </li>
                    <li>
                      Addition of micro-RNA-seq data from the TCGA project. In an upcoming release, we will be adding
                      tools
                      to work with this data.
                    </li>
                    <li>
                      Bug fixes here and there.
                    </li>
                  </ul>
                  <div class="versionDate">
                    7 February 2023
                  </div>
                  <ul class="updates">
                    <li>
                      WebMeV is now hosted on AWS.
                    </li>
                    <li>
                      We added a few new tools for single-cell RNA-seq such as the ability to color UMAP representations
                      by selected genes.
                    </li>
                    <li>
                      Heatmap improvements, including the ability to overlay annotations.
                    </li>
                    <li>
                      Added a likelihood ratio test, which provides ANOVA-like differential expression testing for bulk
                      RNA-seq.
                    </li>
                    <li>
                      Bug fixes here and there.
                    </li>
                  </ul>
                  <div class="versionDate">
                    12 May 2022
                  </div>
                  <ul class="updates">
                    <li>
                      We added our first network analysis, PANDA, from the NetZoo (<a
                        href="https://github.com/netZoo/">https://github.com/netZoo/</a>) library
                      of tools. PANDA allows inference on regulatory networks. Note that this tool typically requires
                      many samples. Try it out on one of our public datasets such as TCGA.
                    </li>
                    <li>
                      We added RNA-seq data from the GTEx repository (<a
                        href="https://gtexportal.org/home/">https://gtexportal.org/home/</a>).
                    </li>
                  </ul>
                  <div class="analysis-card__content">

                  </div>
                </mat-card-content>
              </mat-expansion-panel>
            </mat-accordion>
            <br>
            <!--div class="actions">
              <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
                {{ 'mev.menu.features' | translate }}
              </a>
              <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
                {{ 'mev.menu.examples' | translate }}
              </a>
              <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
                {{ 'mev.about.change-theme' | translate }}
              </a>
              <br>
              <span [ngClass]="routeAnimationsElements">{{ 'mev.about.check-blogs' | translate }}</span>
              <br>
              <a mat-raised-button
                 [ngClass]="routeAnimationsElements"
                 rel="noopener noreferrer"
                 target="_blank"
                 href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">
                 <fa-icon [icon]="['fab','medium-m']"></fa-icon>
                Material Theming
              </a>

            </div-->
          </article>
        </div>

        <div class="col-md-3 mev-sidebar">
          <!--div class="panel panel-info">
            <div class="panel-body">

              <form action="/signin/google" method="POST">
                <button type="submit" class="btn btn-large btn-info btn-block hp-signin">Sign In With Google</button>
                <input type="hidden" name="scope"
                       value="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo#email https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/latitude.all.best"/>
                <input type="hidden" name="request_visible_actions"
                       value="http://schemas.google.com/AddActivity http://schemas.google.com/BuyActivity http://schemas.google.com/CheckInActivity http://schemas.google.com/CommentActivity http://schemas.google.com/CreateActivity http://schemas.google.com/DiscoverActivity http://schemas.google.com/ListenActivity http://schemas.google.com/ReserveActivity http://schemas.google.com/ReviewActivity http://schemas.google.com/WantActivity"/>
                <input type="hidden" name="access_type" value="offline"/>
              </form>

              <a ui-sref="root.datasets" class="btn btn-info btn-large btn-block hp-signin">Get Started</a>
              <a ui-sref="root.datasets.imports.tutorials"
                 class="btn btn-info btn-large btn-block hp-signin">Tutorials</a>

            </div>
          </div-->

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Browse
              </mat-card-title>
              <fa-icon [icon]="['fas','info']"></fa-icon>
            </mat-card-header>
            <mat-card-content>
              <a href="https://sourceforge.net/projects/mev-tm4/">TM4 MeV Stand-Alone Client</a>
              <br>
              <a href="https://web-mev.github.io">WebMeV User Documentation</a>
              <br>
            </mat-card-content>

            <mat-card-header>
              <mat-card-title>
                What's Inside
              </mat-card-title>
              <fa-icon [icon]="['fas','cogs']"></fa-icon>
            </mat-card-header>
            <mat-card-content>
              <a href="https://www.djangoproject.org">Django project</a>
              <br>
              <a href="https://angular.io">Angular</a>
              <br>
              <a href="http://www.bioconductor.org">Bioconductor</a>
              <br>
              <a href="http://d3js.org/">D3.js</a>
              <br>
              <a href="http://www.docker.com/">Docker</a>
              <br>
              <a href="https://github.com/openwdl/wdl">Workflow Definition Language (WDL)</a>
              <br>
              <a href="https://cromwell.readthedocs.io/en/stable/">Cromwell workflow engine</a>
              <br>
              <a href="http://www.r-project.org/">R Statistics Language</a>
              <br>
              <a href="https://python.org/">Python</a>
              <br>
              <a href="https://scikit-learn.org/">Scikit-Learn</a>
              <br>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                GitHub
              </mat-card-title>
              <fa-icon [icon]="['fab','github']"></fa-icon>
            </mat-card-header>

            <mat-card-content>
              See current developments and contribute to the project <a href="https://github.com/web-mev">
                here</a>.
              <br>
              <br>
              <a href="https://github.com/web-mev/mev-backend/">Backend API</a>
              <br>
              <a href="https://github.com/web-mev/mev-frontend/">Frontend application</a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>