<mev-spinner-overlay *ngIf="!isLoaded"></mev-spinner-overlay>

<mat-accordion>
  <mat-expansion-panel class="expansionPanel" [expanded]="!showResult" (opened)="showResult = false"
    (closed)="showResult = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-card-header>
          <div mat-card-avatar class="analysis-card__img"></div>
          <mat-card-title>Network Subsetting</mat-card-title>
        </mat-card-header>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content class="analysis-card__main">
      <!-- <p>
        We select either the most connected genes/TFs or the requested genes/TFs, then we progressively select the
        highest edge weights as we traverse the network. 
      </p> -->
      <p>
        Note that visualizing the entire network is often not feasible. Hence, we provide tools to subset the results
        and show the most strongly connected elements of the network. We do this by first finding the rows or columns
        with the greatest sum of the edge weights (e.g. sum over each row); the choice of summing over the row or column
        is determined by the initial "axis" parameter.
      </p>
      <p>
        Then, starting from those initial nodes, we find the children with the strongest connections to those nodes. The
        number of selections is determined by the "children" parameter. If we initially selected based on rows, this
        means we search (within each selected row) for the columns with the largest values. Then, given those children,
        we repeat the process. To continue our example, we would search within each selected column for the rows with
        the largest values. We subsequently repeat this process to build our network subset. The number of times we do
        this is set by the "network depth" parameter.
      </p>
      <!-- <a class="showMore" (click) = "showDescription = !showDescription">{{ showDescription ? 'Show less details': 'Show more details' }}... </a> -->
      <mat-divider [inset]="true"></mat-divider>
      <div class="analysis-card__content">
        <form *ngIf="inputForm && isLoaded" [formGroup]="inputForm">
          <ng-container>
            <div class="label">
              Network File: <span class="redAsterisk">* </span>
              <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="Choose a file that represents a network you wish to plot. Each cell of the table should represent an edge weight; this might be the strength of the correlation between the row and column (e.g. gene and transcription factor) corresponding to that cell. However, any two-dimensional matrix of numbers can be shown using this tool."
                aria-label="Info tooltip about the field">info
              </mat-icon>
            </div>
            <mat-form-field class="form-control" color="accent">
              <mat-select formControlName="expMtx">
                <mat-option *ngFor="let file of exp_files" [value]="file.id">
                  {{ file.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <br>

          <button mat-raised-button color="accent" type="submit" [disabled]="!inputForm.valid"
            (click)="createPlot()">Plot
          </button>

        </form>
      </div>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>

<mev-spinner-overlay *ngIf="showLoading"></mev-spinner-overlay>
<mev-panda *ngIf="showResult" [showHeader]="false" [outputs]="plotData" [startLoading]="showResult"
  [onClick]="showLoading">
</mev-panda>