<mev-spinner-overlay *ngIf="!isLoaded"></mev-spinner-overlay>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="analysis-card__img"></div>
    <mat-card-title>Subnet Visualizations</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content class="analysis-card__main">
    <p>
      Use this plotting tool to show a two-dimensional heatmap representation of
      your expression data
    </p>
    <p>
      Plotting controls allow you to stratify by custom groupings.
    </p>
    <mat-divider [inset]="true"></mat-divider>

    <div class="analysis-card__content">
      <form *ngIf="inputSubnetForm && isLoaded" [formGroup]="inputSubnetForm" (ngSubmit)="onSubmit()">

        <ng-container>
          <div class="label">
            Expression data source:
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
              matTooltip="The expression data to use in the heatmap" aria-label="Info tooltip about the field">info
            </mat-icon>
          </div>
          <mat-form-field class="form-control" color="accent">
            <mat-select formControlName="expMtx">
              <mat-option *ngFor="let file of exp_files" [value]="file.id">
                {{ file.name }}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && f['expMtx'].errors">
              <mat-error *ngIf="f['expMtx'].errors.required">
                This field is required
              </mat-error>
            </div>
          </mat-form-field>
        </ng-container>

        <div>
          <button mat-raised-button color="accent" type="submit" [disabled]="!inputSubnetForm.valid"
            (click)="createPlot()">Plot
          </button>
        </div>
      </form>
    </div>
    <mat-divider [inset]="true"></mat-divider>

    <d3-heatmap [resourceData]="plotData" [isWait]="isWaiting"></d3-heatmap>
  </mat-card-content>

</mat-card>