.label {
  padding-right: 10px;
  font-weight: bolder;
}

.analyses-header__icon {
  font-size: 14px;
}

.form-control {
  width: 500px;
  padding-bottom: 50px;
}

.analysis-card__img {
  background-image: url("~assets/icons/network.png");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 40px;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 0px;
}

.analysis-card__content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.redAsterisk {
  color: red;
}
// .showMore {
//   cursor: pointer;
//   color: #1a0dab;
//   text-decoration: none;
// }
