<div class="container">
  <h3 mat-dialog-title>Select one or more resources from the list to add to the Workspace.
    <br> Then click the Add button.</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">

      <angular2-multiselect [data]="files | validFilesPipe" [(ngModel)]="selectedFiles"
        [settings]="dropdownSettings" name="resource">
        <c-item>
          <ng-template let-item="item">
            <span class="resource-label">{{ item.name }} </span>
            <br>
            <span class="resource-type-label">Type: {{ item.readable_resource_type || 'N/A' }}</span>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label>{{ item.name }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>

    </div>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="1" mat-raised-button color="accent" (click)="confirmAdd()">Add</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>

  </form>
</div>