<div>
    <img id="image" [src]="imageUrl" style="height: 400px;">
</div>


<button mat-flat-button color="primary" class="custom-button" matTooltip="Zoom In" (click)="zoomIn()">
    <mat-icon>zoom_in</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Zoom Out" (click)="zoomOut()">
    <mat-icon>zoom_out</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Move Left" (click)="moveLeft()">
    <mat-icon>arrow_back</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Move Right" (click)="moveRight()">
    <mat-icon>arrow_forward</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Move Up" (click)="moveUp()">
    <mat-icon>arrow_upward</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Move Down" (click)="moveDown()">
    <mat-icon>arrow_downward</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Swap Horizontal" (click)="swapHorizontal()">
    <mat-icon>swap_horiz</mat-icon>
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Swap Vertical" (click)="swapVertical()">
    <mat-icon>swap_vert</mat-icon>
</button>
<br>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Aspect Ratio: 16:9"
    (click)="setAspectRatio(16/9)">
    16:9
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Aspect Ratio: 4:3"
    (click)="setAspectRatio(4/3)">
    4:3
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Aspect Ratio: 1:1"
    (click)="setAspectRatio(1)">
    1:1
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Aspect Ratio: 2:3"
    (click)="setAspectRatio(2/3)">
    2:3
</button>
<button mat-flat-button color="primary" class="custom-button" matTooltip="Aspect Ratio: Freeform"
    (click)="setAspectRatio(null)">
    Free
</button>
<!-- <button mat-flat-button color="primary" class="custom-button" matTooltip="Download Image"
    (click)="downloadCroppedImage()">
    <mat-icon>download</mat-icon>
</button> -->
<button mat-flat-button color="primary" class="custom-button" matTooltip="Crop" (click)="onCrop()">
    <mat-icon>crop</mat-icon>
</button>