ul {
    list-style-type: none;
    padding-left: 10px;
}

.checkBoxLabel {
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    height: 20px;
    margin: 8px 10px;
}

// .sliderGroup {
//     font-weight: bold;
//     font-size: 14px;
//     text-transform: capitalize;
// }

::ng-deep {
    .mat-checkbox-inner-container {
        width: 12px !important;
        height: 12px !important;
    }
    // .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header,.mat-expansion-panel-header:focus, .mat-expansion-panel:hover {
    //     background-color: #ddebf2;
    // }

    // .mat-expansion-panel-body {
    //     background-color: #ddebf2;
    // }
    .checkBoxContent {
        font-size: 13px;
        text-transform: capitalize;
    }

    .mat-checkbox-layout .mat-checkbox-label {
        white-space: normal !important;
    }
    .mat-checkbox-inner-container {
        margin-top: 4px;
    }
    .mat-checkbox-layout .mat-checkbox-label {
        line-height: 14px;
    }
}
.checkboxSection {
    height: 40px;
}
.showMore {
    cursor: pointer;
    color: #03a9f4;
    text-decoration: none;
    font-size: 12px;
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}
.showMore:hover{
    opacity: .9;
}
.labelContainer {
    background-color: rgba(55, 71, 79, 0.8);
    width: 120%;
    height: 40px;
    margin: -10px 0 10px -10px;
    color: white;
}
// .mat-checkbox-layout .mat-checkbox-label {
//     inline-size: 150px;
//     overflow-wrap: break-word;
// }
.counter {
    margin-left: auto;
    background-color: steelblue !important;
    font-size: 12px;
    color: #fff !important;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: 6px;
}
.checkboxContainer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    outline: none;
    margin: 8px 0;
}
.mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;
}
