ul {
    list-style-type: none;
    padding-left: 10px;
}

.checkBoxLabel {
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}
.checkBoxContent {
    font-size: 12px;
    text-transform: capitalize;
}

.sliderGroup {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

::ng-deep {
    .mat-checkbox-inner-container {
        width: 12px !important;
        height: 12px !important;
    }
    // .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header,.mat-expansion-panel-header:focus, .mat-expansion-panel:hover {
    //     background-color: #ddebf2;
    // }

    // .mat-expansion-panel-body {
    //     background-color: #ddebf2;
    // }
}
.checkboxSection {
    height: 8px;
}
.showMore {
    cursor: pointer;
    color: #03a9f4;
    text-decoration: none;
    font-size: 12px;
    margin-left: 200px;
}
