<div class="container" rtl>
  <div class="row justify-content-center">
    <div class="col-md-8 form-group">
      <mat-card>
        <mat-card-subtitle>Please see the
          <a href="https://www.youtube.com/watch?list=PLSUXpXpbiLkJFbC3LOMgBacvNSdNpw0nv&amp;v=VqGpdotr-A4"
             target="_blank">
            WebMev Tutorials
          </a>
          playlist for more tutorials
        </mat-card-subtitle>
        <mat-card-content>
          <youtube-player
            videoId="VqGpdotr-A4"
            suggestedQuality="default"
            [height]="250"
            [width]="500">
          </youtube-player>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">


    </div>
  </div>
</div>
