a {
  text-decoration: underline;
}
.mat-card-subtitle {
  text-align: center;
}

.mat-card-content {
  text-align: center;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tutorial-files {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#tutorial-files button {
  margin: 10px 0px 10px 0px;
}