<div class="container" rtl>
  <div class="row justify-content-center">
    <div class="col-md-8 form-group">
      <mat-card>
        <p>For a quickstart and case-study on RNA-Seq data, see our documentation at <a href="https://web-mev.github.io/">https://web-mev.github.io/</a></p>

        <p>Example data for universal human reference (UHR) and human brain reference (HBR). From 
          <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4793214/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4793214/</a>:
          <br>
          <br>
          <a href="https://storage.googleapis.com/mev-example-data/hbr_and_uhr_counts.tsv">Example count matrix</a>
          <br>
          <a href="https://storage.googleapis.com/mev-example-data/hbr_and_uhr_annotations.csv">Example annotations</a>
        </p>
        <!-- <mat-card-subtitle>Please see the
          <a href="https://www.youtube.com/watch?list=PLSUXpXpbiLkJFbC3LOMgBacvNSdNpw0nv&amp;v=VqGpdotr-A4"
             target="_blank">
            WebMev Tutorials
          </a>
          playlist for more tutorials
        </mat-card-subtitle> -->
        <!-- <mat-card-content>
          <youtube-player
            videoId="VqGpdotr-A4"
            suggestedQuality="default"
            [height]="250"
            [width]="500">
          </youtube-player>
        </mat-card-content> -->
      </mat-card>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">


    </div>
  </div>
</div>
