<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>{{analysisName}}: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>
    <mat-card-content class="analysis-card__main">
        <mat-divider [inset]="true"></mat-divider>
        <div class="analysis-card__content">
            <mev-spinner-overlay *ngIf="dataSource.loading$ | async"></mev-spinner-overlay>
            <mat-form-field appearance="outline">
                <mat-label>Select ST Normalize File</mat-label>
                <mat-select [(value)]="selectedStNormalizedFile" (selectionChange)="onSelectSTNormalizeFile()">
                    <mat-option [value]="option" *ngFor="let option of stNormalizeFile">{{ option['job_name'] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table *ngIf="outputs.distance_summary === 'Average'" mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="table">
                    <ng-container matColumnDef="sample_gene">
                        <th mat-header-cell *matHeaderCellDef> Gene </th>
                        <td mat-cell *matCellDef="let element" class="word-wrap"> {{element.rowname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avg_lm_coef">
                        <th mat-header-cell *matHeaderCellDef> avg_lm_coef </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.avg_lm_coef)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="avg_lm_pval">
                        <th mat-header-cell *matHeaderCellDef> avg_lm_pval </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.avg_lm_pval)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="avg_spearman_r">
                        <th mat-header-cell *matHeaderCellDef> avg_spearman_r </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.avg_spearman_r)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="avg_spearman_r_pval">
                        <th mat-header-cell *matHeaderCellDef> avg_spearman_r_pval </th>
                        <td mat-cell *matCellDef="let element" class="numericCols">
                            {{formatNumToSigFig(element.values.avg_spearman_r_pval)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="avg_spearman_r_pval_adj">
                        <th mat-header-cell *matHeaderCellDef> avg_spearman_r_pval_adj </th>
                        <td mat-cell *matCellDef="let element" class="numericCols">
                            {{formatNumToSigFig(element.values.avg_spearman_r_pval_adj)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element; let i=index;" class="numericCols">
                            <button mat-raised-button title="Select Gene" [disabled]="isEmpty(selectedStNormalizedFile)"
                                (click)="selectGene(element.rowname)"
                                [class]="element.rowname === geneSearch ? 'selectedButton' : 'notSelectedButton' ">
                                {{element.rowname === geneSearch ? 'Selected Gene' : 'Select Gene'}}
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <table *ngIf="outputs.distance_summary === 'Minimum'" mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="table">
                    <ng-container matColumnDef="sample_gene">
                        <th mat-header-cell *matHeaderCellDef> Gene </th>
                        <td mat-cell *matCellDef="let element" class="word-wrap"> {{element.rowname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="min_lm_coef">
                        <th mat-header-cell *matHeaderCellDef> min_lm_coef </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.min_lm_coef)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="min_lm_pval">
                        <th mat-header-cell *matHeaderCellDef> min_lm_pval </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.min_lm_pval)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="min_spearman_r">
                        <th mat-header-cell *matHeaderCellDef> min_spearman_r </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.min_spearman_r)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="min_spearman_r_pval">
                        <th mat-header-cell *matHeaderCellDef> min_spearman_r_pval </th>
                        <td mat-cell *matCellDef="let element" class="numericCols">
                            {{formatNumToSigFig(element.values.min_spearman_r_pval)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="min_spearman_r_pval_adj">
                        <th mat-header-cell *matHeaderCellDef> min_spearman_r_pval_adj </th>
                        <td mat-cell *matCellDef="let element" class="numericCols">
                            {{formatNumToSigFig(element.values.min_spearman_r_pval_adj)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element; let i=index;" class="numericCols">
                            <button mat-raised-button title="Select Gene" [disabled]="isEmpty(selectedStNormalizedFile)"
                                (click)="selectGene(element.rowname)"
                                [class]="element.rowname === geneSearch ? 'selectedButton' : 'notSelectedButton' ">
                                {{element.rowname === geneSearch ? 'Selected Gene' : 'Select Gene'}}
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="dataSource.featuresCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
                    (page)="loadFeaturesPage()">
                </mat-paginator>
            </div>
        </div>
        <br>
        <br>
        <div *ngIf="geneSelected">
            <mat-expansion-panel #accordion [(expanded)]="panelOpenState" class="no-box-shadow">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="plot-options-header">Select X and Y Axis Labels: </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field appearance="outline">
                    <mat-label>Select X-Axis Label</mat-label>
                    <mat-select [(value)]="yAxisValue">
                        <mat-option [value]="option" *ngFor="let option of yAxisValueList">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Select Y-Axis Label</mat-label>
                    <mat-select [(value)]="xAxisValue">
                        <mat-option [value]="option" *ngFor="let option of xAxisValueList">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-flat-button color="primary" class="searchButton"
                    [disabled]="xAxisValue === '' || yAxisValue === '' || geneSearchVal === ''"
                    (click)="submitAxisValues()">Submit</button>
            </mat-expansion-panel>
        </div>
        <br>
        <br>
        <div id="topOfPage"></div>
        <div #scatter id="scatter" [style.width.px]="originalPlotWidth + legendWidth" class="plotContainer"></div>
        <p *ngIf="axisSubmitted && scatterPlotData.length === 0 && !isLoading && xAxisValue !== '' && yAxisValue !== '' && geneSearchVal !== ''">No data to display</p>

    </mat-card-content>
</mat-card>