<form *ngIf="analysesForm" [formGroup]="analysesForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="operationData.mode !== 'client'">
        <div class="label">
            Operation name: <span class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="Type operation name" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <input matInput formControlName="job_name" name="job_name">
        </mat-form-field>
    </ng-container>

    <div>
        <div class="label">
            {{ countMatrixField.name }}
            <span *ngIf="countMatrixField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ countMatrixField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select [formControlName]="countMatrixField.key">
                <mat-option *ngFor="let file of countMatrixField.files" [value]="file.id">
                    {{ file.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f[countMatrixField.key].errors?.required">
                This field is required
            </mat-error>
            <mat-error *ngIf="analysesForm.errors?.badSample">
                The sample/observation groups chosen below do not match your input matrix. The invalid samples were:
                {{analysesForm.errors?.['badSample']}}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="label">Analysis Type: <span class="redAsterisk">* </span></div>
    <br>
    <mat-button-toggle-group formControlName="analysisType" (change)="analysisTypeChange()">
        <mat-button-toggle value="direct_comparison">Direct comparison</mat-button-toggle>
        <mat-button-toggle value="biomarker_detection">Biomarker detection</mat-button-toggle>
    </mat-button-toggle-group>
    <br>
    <br>
    <br>

    <div class="label">
        {{ expGroupNameField.name }}
        <span *ngIf="expGroupNameField.required" class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ expGroupNameField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="expGroupNameField.key" [name]="expGroupNameField.key">
        <div *ngIf="f[expGroupNameField.key].value === '' && f[expGroupNameField.key].errors">
            <mat-error *ngIf="f[expGroupNameField.key].errors.required">
                This field is required.
            </mat-error>
        </div>
    </mat-form-field>
    <div [hidden]="analysesForm.get('analysisType').value !== 'direct_comparison'" >
        <div class="label">
            {{ baseGroupNameField.name }}
            <span *ngIf="baseGroupNameField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ baseGroupNameField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <input matInput [formControlName]="baseGroupNameField.key" [name]="baseGroupNameField.key">
            <div *ngIf="f[baseGroupNameField.key].value === '' && f[baseGroupNameField.key].errors">
                <mat-error *ngIf="f[baseGroupNameField.key].errors.required">
                    This field is required.
                </mat-error>
            </div>
        </mat-form-field>
    </div>

    <div class="label">
        {{ obsSetField.name }}
        <span *ngIf="obsSetField.required" class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ obsSetField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
        <mat-select [formControlName]="obsSetField.key">
            <mat-option *ngFor="let set of obsSetField.sets" [value]="set">
                {{ set.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="analysesForm.get('analysisType').value === 'direct_comparison'">
        <div class="label">
            {{ obsSetField2.name }}
            <span *ngIf="obsSetField2.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ obsSetField2.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select [formControlName]="obsSetField2.key">
                <mat-option *ngFor="let set of obsSetField2.sets" [value]="set">
                    {{ set.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>