* {
  font-size: 14px;
}

.dialog {
  max-height: 670px;
}

header {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

mat-icon {
  font-size: 12px;
  height: 14px;
}

.container {
  text-align: justify;
}

h3 {
  margin-top: 15px;
}
.show-more-link {
  cursor: pointer;
}

.example-table {
  margin: 10px auto;
  border: 1px solid black;

  th,
  td {
    padding: 5px 15px;
    border: 1px solid black;
  }
}
