<div class="dialog">
  <header>File Types</header>
  <br>
  <main class="container">
    <div *ngFor="let fileType of data">
      <mat-icon>check</mat-icon><b>{{fileType.resource_type_title}}: </b> {{fileType.resource_type_description}}
      <a *ngIf="fileType.example !== null" class="show-more-link" (click)="toggleShow(fileType.resource_type_key)">
        {{ isTableShown[fileType.resource_type_key] ? 'Hide example' : 'Show example' }}
      </a>
      <table *ngIf="fileType.example !== null" class="example-table" [hidden]="!isTableShown[fileType.resource_type_key]">
        <tr>
          <th></th>
          <th *ngFor="let columnNames of fileType.example[0].values | keyvalue">{{columnNames.key}}</th>
        </tr>
        <tr *ngFor="let row of fileType.example | keyvalue">
          <td>{{fileType.example[row.key].__id__}}</td>
          <td *ngFor="let rowData of fileType.example[row.key].values | keyvalue">{{fileType.example[row.key].values[rowData.key]}}</td>
        </tr>
      </table>
      <br>
    </div>
  </main>
  <footer mat-dialog-actions class="btn-group">
    <button mat-button (click)="onNoClick()" mat-raised-button color="accent">Close</button>
  </footer>
</div>