<section class="container">

  <p>
    The analysis pane on the left side displays the list of executed opertations.
    Expand and collapse the list of operations clicking on an operation category.
    Click on an operation to view results.
  </p>
  <p *ngIf="dataSource.data.length === 0">
    No executed operations available
  </p>
  <div *ngIf="dataSource.data.length !== 0" class="vertical-tab-container">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngClass]="{ 'active-node': activeNode?.id === node.id }">
        <!-- use a disabled button to provide padding for tree leaf -->
        <!-- <button mat-icon-button disabled></button> -->
        <button (click)="onSelectExecOperation(node)">
          {{ node.name }} 
          <mat-icon *ngIf="!node.execution_stop_datetime" class="mat-icon--timer">timer</mat-icon>
          <mat-icon *ngIf="node.job_failed" class="mat-icon--error">error_outline</mat-icon>                          
        </button>
      </mat-tree-node>
      <!-- tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
          {{node.name}}
        </button>
        
      </mat-tree-node>
    </mat-tree>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="operation-container">
      <!-- <div *ngIf="selectedExecOperationId && isInProgress" class="operation-status">Building chart, please wait...</div> -->
      <div *ngIf="operationExecutionState === operationExecutionStateType.RunningAnalysis" class="operation-status">
        Running analysis, please wait...
      </div>
      <div *ngIf="operationExecutionState === operationExecutionStateType.PreparingData" class="operation-status">
        Preparing data and visualization...
      </div>
      <div *ngIf="operationExecutionState === operationExecutionStateType.InProcess" class="operation-status">
        Please wait...
      </div>
      <mev-analysis-result *ngIf="operationExecutionState === operationExecutionStateType.Finished" [outputs]="outputs"></mev-analysis-result>
    </div>
  </div>

</section>