.operation-container {
  margin: 20px;
}

.operation-status {
  font-size: 14px;
  color: #666;
}

.operation-selector {
  font-size: 15px;
  font-weight: bold;
}

.mat-form-field {
  width: 350px;
}

::ng-deep {
  .category label {
    text-transform: uppercase;
  }

  .subcategory label {
    padding-left: 40px;
  }

  .operation span {
    padding-left: 50px;
  }
}

.operation .mat-icon {
  font-size: 16px;
}

.operation .mat-icon--error {
  color: #b94e4e;
}
