<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<form *ngIf="analysesForm" [formGroup]="analysesForm" (ngSubmit)="onSubmit()">

    <ng-container *ngIf="operationData.mode !== 'client'">
        <div class="label">
            Operation name: <span class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="Type operation name" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <input matInput formControlName="job_name" name="job_name">
        </mat-form-field>
    </ng-container>
    <div class="label">
        {{sampleNameField.name}} <span *ngIf="sampleNameField.required" class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{sampleNameField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="sampleNameField.key" [name]="sampleNameField.key">
    </mat-form-field>
    <br>

    <div class="label">Cluster source: <span class="redAsterisk">* </span></div>
    <br>
    <p>Note that we require a reference cluster from which we will calculate the correlation coefficients.
        This can come from either a previously-defined observation/sample set or may be directly selected
        by choosing the results from an STClust operation that was previously executed.
    </p>
    <mat-button-toggle-group formControlName="reference_cluster_selection" (change)="clusterOptionChange()">
        <mat-button-toggle value="obs_set">Observation set</mat-button-toggle>
        <mat-button-toggle value="stclust">STClust results</mat-button-toggle>
    </mat-button-toggle-group>
    <br>
    <br>
    <div *ngIf="analysesForm.get('reference_cluster_selection').value === 'obs_set'">
        <div class="label">
            Reference cluster:
            <span *ngIf="obsSetField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ obsSetField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select [formControlName]="obsSetField.key">
                <mat-option *ngFor="let set of obsSetField.sets" [value]="set">
                    {{ set.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <div class="label">
                {{ rawCountsField.name }} <span *ngIf="rawCountsField.required" class="redAsterisk">* </span>
                <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                    matTooltip="{{ rawCountsField.desc}}" aria-label="Info tooltip about the field">info
                </mat-icon>
            </div>
            <mat-form-field class="form-control" color="accent">
                <mat-select [formControlName]="rawCountsField.key">
                    <mat-option *ngFor="let file of rawCountsField.files" [value]="file.id">
                        {{ file.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="f[rawCountsField.key].errors?.required">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <div class="label">
                {{ coordMetadataField.name }} <span *ngIf="coordMetadataField.required" class="redAsterisk">* </span>
                <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                    matTooltip="{{ coordMetadataField.desc}}" aria-label="Info tooltip about the field">info
                </mat-icon>
            </div>
            <mat-form-field class="form-control" color="accent">
                <mat-select [formControlName]="coordMetadataField.key">
                    <mat-option *ngFor="let file of coordMetadataField.files" [value]="file.id">
                        {{ file.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="f[coordMetadataField.key].errors?.required">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <div class="label">
                {{normalizationMethodField.name}} <span *ngIf="normalizationMethodField.required" class="redAsterisk">* </span>
                <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                    matTooltip="{{normalizationMethodField.desc}}" aria-label="Info tooltip about the field">info
                </mat-icon>
            </div>
            <mat-form-field class="form-control" color="accent">
                <mat-select [formControlName]="normalizationMethodField.key">
                    <mat-option *ngFor="let option of normalizationMethodField.options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="analysesForm.get('reference_cluster_selection').value === 'stclust'">

        <div class="label">
            STClust results:
            <span *ngIf="stClustResultsField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ stClustResultsField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select [formControlName]="stClustResultsField.key" (selectionChange)="onClusterTypeSelection()">
                <mat-option *ngFor="let job of stClustResultsField.jobs" [value]="job">
                    Job name: {{ job.job_name }} (completed {{job.execution_stop_datetime}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="clustering_job_id.length > 0">
            <mat-form-field appearance="outline">
                <mat-label>Select X-Axis Label</mat-label>
                <mat-select [(value)]="yAxisValue">
                    <mat-option [value]="option" *ngFor="let option of yAxisValueList">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Select Y-Axis Label</mat-label>
                <mat-select [(value)]="xAxisValue">
                    <mat-option [value]="option" *ngFor="let option of xAxisValueList">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button mat-flat-button color="primary" class="searchButton"
                [disabled]="xAxisValue === '' || yAxisValue === '' " (click)="getDataClusters()">Submit</button>

            <br>
            <br>
            <div id="topOfPage"></div>
            <div #scatter id="scatter" [style.width.px]="originalPlotWidth + legendWidth" class="plotContainer"></div>
            <br>
            <div class="label">
                Cluster: <span class="redAsterisk">* </span>
                <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                    matTooltip="Select Cluster" aria-label="Info tooltip about the field">info
                </mat-icon>
            </div>
            <mat-form-field class="form-control" color="accent">
                <mat-select [(value)]="clusterValue" (selectionChange)="saveObsSets(clusterValue)">
                    <mat-option *ngFor="let option of clusterList" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="label">
            {{ rawCountsField.name }} <span *ngIf="rawCountsField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ rawCountsField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <input matInput [formControlName]="rawCountsField.key" [name]="rawCountsField.key" [value]="input_counts_uuid" readonly>
        </mat-form-field>

        <div class="label">
            {{ coordMetadataField.name }} <span *ngIf="coordMetadataField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ coordMetadataField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <input matInput [formControlName]="coordMetadataField.key" [name]="coordMetadataField.key" [value]="input_metadata_uuid" readonly>
        </mat-form-field>

        <div class="label">
            {{ normalizationMethodField2.name }} <span *ngIf="normalizationMethodField2.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{ normalizationMethodField2.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <input matInput [formControlName]="normalizationMethodField2.key" [name]="normalizationMethodField2.key" [value]="normalization_method" readonly>
        </mat-form-field>

    </div>

    <br />
    <div>
        <div class="label">
            {{distanceSummaryField.name}} <span *ngIf="distanceSummaryField.required" class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="{{distanceSummaryField.desc}}" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select [formControlName]="distanceSummaryField.key">
                <mat-option *ngFor="let option of distanceSummaryField.options" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br>
    <div class="label">
        {{ numGenesField.name }} <span *ngIf="numGenesField.required" class="redAsterisk">* </span>
        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
            matTooltip="{{ numGenesField.desc}}" aria-label="Info tooltip about the field">info
        </mat-icon>
    </div>
    <mat-form-field class="form-control" color="accent">
        <input matInput [formControlName]="numGenesField.key" [name]="numGenesField.key">
        <div *ngIf="f[numGenesField.key].value && f[numGenesField.key].errors">
            <mat-error *ngIf="f[numGenesField.key].errors.required">
                This field is required
            </mat-error>
            <mat-error *ngIf="f[numGenesField.key].errors.pattern">
                The value should be an integer.
            </mat-error>
            <mat-error *ngIf="f[numGenesField.key].errors.min">
                The value should be an integer greater than or equal to {{ numGenesField.min }}
            </mat-error>
        </div>
    </mat-form-field>
</form>