<!-- <mat-form-field>
    <input matInput placeholder="Search..." #input>
</mat-form-field> -->

<mat-card class="analysis-card">
  <mat-card-header>
    <div mat-card-avatar class="analysis-card__img"></div>
    <mat-card-title>{{analysisName}}: {{ outputs?.job_name }}</mat-card-title>
    <mev-input-info [outputs]="outputs"></mev-input-info>
  </mat-card-header>
  <mat-card-content class="analysis-card__main">
    <p class="analysis-card__instruction">
      Use the table filters and sorting functionality to explore differentially expressed genes.
    </p>
    <p class="analysis-card__instruction">
      You can also define custom sets of genes for exploration with other tools. Custom set size is
      limited to {{maxFeatureSetSize}} items.
    </p>
    <mat-divider [inset]="true"></mat-divider>
    <div class="analysis-card__content">
      <section class="filter-section">
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">

          <!-- <div class="filter">
                <span class="label">
                    Name: 
                </span>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div> -->

          <div class="filter">
            <span class="label">
              P-value adjusted:
            </span>
            <mat-form-field class="form-control form-control__small" color="accent">
              <mat-select formControlName="padj_operator">
                <mat-option *ngFor="let operator of operators" [value]="operator.id">
                  {{ operator.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-control">
              <input matInput formControlName="padj" type=number step=any min=0>
            </mat-form-field>
          </div>

          <div class="filter">
            <span class="label">
              Log-Fold-Change:
            </span>
            <mat-form-field class="form-control form-control__small" color="accent">
              <mat-select formControlName="log2FoldChange_operator">
                <mat-option *ngFor="let operator of operators" [value]="operator.id">
                  {{ operator.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-control">
              <input matInput formControlName="log2FoldChange" type=number step=any>
            </mat-form-field>
          </div>

          <button type="submit" [disabled]="!filterForm.valid" mat-raised-button color="accent">Apply filters</button>
        </form>

      </section>

      <mev-spinner-overlay *ngIf="dataSource.loading$ | async"></mev-spinner-overlay>

      <div class="mat-elevation-z8">
        <mat-table class="dge-table" [dataSource]="dataSource" matSort [matSortActive]="defaultSorting.field"
          [matSortDirection]="defaultSorting.direction" matSortDisableClear>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="log2FoldChange">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Log 2 Fold Change</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let row">{{row.log2FoldChange}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="padj">
            <mat-header-cell *matHeaderCellDef mat-sort-header>P-value adjusted</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let row">{{row.padj}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="pvalue">
            <mat-header-cell *matHeaderCellDef mat-sort-header>P-value</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let row">{{row.pvalue}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>


        <mat-paginator [length]="dataSource.featuresCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
        </mat-paginator>
      </div>

      <div class="button-panel">
        <button mat-raised-button color="accent" [disabled]="dataSource.featuresCount > maxFeatureSetSize"
          (click)="onCreateCustomFeatureSet()">
          <mat-icon>add</mat-icon>
          Save as a feature set
        </button>
        <mev-download-button [containerId]="containerId" [imageName]="imageName"></mev-download-button>
      </div>
      <div #boxPlot id="boxPlot" class="chart" (window:resize)="onResize($event)"></div>

    </div>

  </mat-card-content>

</mat-card>