table,
th,
td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.column-header,
.row-header {
  font-weight: bold;
}

.no-results {
  color: red;
  font-weight: bold;
}

.btn-group {
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

///new styling
.headerSpan {
  display: flex;
  background-color: #1da1f2;
  margin: -35px -40px 20px -40px;
}

.dialogTitle {
  justify-content: flex-start;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px 0 10px 30px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.dialogContent {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.closeDialogButton {
  color: white;
  position: absolute;
  right: -20px;
  top: -15px;
}

.closeDialogButton:hover {
  opacity: 0.75;
}

.submitBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.tableContainer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  width: 70vw;
  max-height: 50vh;
  overflow: scroll;
}

.headerContainer {
  position: relative;
  width: 100%;
}
