.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
mat-checkbox {
  margin: 10px 0 20px 0;
}
.buttons {
  margin: 20px 0;
}

button {
  margin-right: 5px;
  margin-left: 5px;
}

// Google Identity and Google+ Sign in buttons
// https://developers.google.com/+/branding-guidelines

.google-button {
  height: 40px;
  min-width: 250px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  vertical-align: top;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
  float: left;

  svg {
    vertical-align: top;
  }
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}

.msg {
  padding: 10px 10px 20px;
  color: #666;
  font-size: 14px;
  text-align: justify;
}

.msg--error {
  color: red;
}

.msg--success {
  color: green;
}

.login-note-text {
  padding: 10px 10px 20px;
  color: #666;
  font-size: 20px;
  text-align: center;
}

.footer-link {
  font-size: 14px;
}
