<mat-card class="analysis-card">
    <mat-card-header>
      <div mat-card-avatar class="analysis-card__img"></div>
      <mat-card-title>{{analysisName}}: {{ outputs?.job_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="analysis-card__main">
      <p class="analysis-card__instruction">
         The outputs from WGCNA are gene modules which exhibit co-expression patterns. Below, you can 
         create feature sets from these genes, which can then be used as inputs to gene set (e.g. 
         fGSEA) or GO-term enrichment analyses.
      </p> 
      <mat-tab-group>
        <mat-tab label="Results table">
          <ng-template matTabContent>
            <wgcna-table [resourceId]="modulesResourceId"></wgcna-table>
          </ng-template>
        </mat-tab>
        <mat-tab label="QC Plot">
          <ng-template matTabContent>
            <wgcna-qc [resourceId]="qcId"></wgcna-qc>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      
    </mat-card-content>
  
  </mat-card>