<mev-spinner-overlay *ngIf="dataSource.loading$ | async"></mev-spinner-overlay>
<div class="mat-elevation-z8">
    <mat-table class="" [dataSource]="dataSource">

      <ng-container matColumnDef="module_id">
        <mat-header-cell *matHeaderCellDef>Module</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.module_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="module_size">
        <mat-header-cell *matHeaderCellDef>Size of module</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let row">{{row.module_size}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" title="Create feature set" 
            (click)="createFeatureSet(row)">
            Create feature set
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator [length]="dataSource.modulesCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
  </div>