.list {
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.6;
}

.medium-bold {
  font-weight: 500;
}

.inputList {
  margin: 0px;
}

.mat-expansion-panel,
.mat-expansion-panel:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  width: 40%;
  min-width: 500px;
}

.mat-expansion-panel-header {
  padding-left: 0 !important;
}

.mat-expansion-panel-body {
  padding-left: 16px;
}

.valueClass {
  margin-left: 4px;
}

.mat-content {
  flex: 0.7 !important;
}

.inputHeader {
  font-size: 14px;
  font-weight: bold;
  color: #d65a5a;
}

.expansionTitle {
  margin-left: 10px;
}
