.list {
  font-size: 14px;
  margin-top: 10px;
}

.medium-bold {
  font-weight: 500;
}

.inputList {
  margin: 20px 0px;
}

.mat-expansion-panel,
.mat-expansion-panel:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  width: 30%;
  min-width: 400px;
}

.mat-expansion-panel-header {
  padding-left: 0 !important;
}

.mat-content {
  flex: 0.7 !important;
}

.inputHeader {
  font-size: 14px;
  font-weight: bold;
  color: #d65a5a;
}

.expansionTitle {
  margin-left: 10px;
}
