<div class="container">
    <h3 mat-dialog-title>Enter the name of a new observation set and select samples.
        <br> Then click the Add button.</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="observationForm">

        <div class="form">

            <mat-form-field class="form-control" color="accent">
                <mat-label>Enter observation set name</mat-label>
                <input matInput formControlName=observationSetName name=observationSetName>
                <div *ngIf="submitted && f.observationSetName.errors">
                    <mat-error *ngIf="f.observationSetName.errors.required">
                        Name is required
                    </mat-error>
                </div>
            </mat-form-field>

            Select samples: 
            <table mat-table [dataSource]="allObservationSetsDS" class="mat-elevation-z8">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container *ngFor="let attrCol of observationSetsDisplayedColumnsAttributesOnly; let colIndex = index"
                matColumnDef="{{attrCol}}">
                <th mat-header-cell *matHeaderCellDef>{{ attrCol }}</th>
                <td mat-cell *matCellDef="let element"> {{ element.attributes[attrCol] ? element.attributes[attrCol].value : '' }}</td> 
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="observationSetsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: observationSetsDisplayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>  


        </div>

        <div mat-dialog-actions>
            <button mat-button [mat-dialog-close]="1" mat-raised-button color="accent"
                (click)="confirmAdd()">Add</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
    </form>
</div>