import { AuthenticationService } from '@app/core/authentication/authentication.service';

export function jwtOptionsFactory(authService: AuthenticationService) {
  return {
    tokenGetter: () => {
      return authService.getJwtToken();
    },
    whitelistedDomains: ['__API_URL__', 'localhost'],
    blacklistedRoutes: [
      'https://__API_URL__/api/token/',
      'http://localhost:8000/api/token/'
    ]
  };
}
