<div class="container">

  <span class="headerSpan">
    <div class="dialogTitle">Add Track File</div>
    <button class="closeDialogButton" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </span>

  <div mat-dialog-title class="dialogContent">Select a Track file from the list to use.
  </div>
  <form class="mat-dialog-content">

    <mat-form-field class="form">
      <mat-select [(ngModel)]="selectedTrackFileId" name="track" placeholder="Track file"
        (selectionChange)="onSelectTrack()">
        <mat-option *ngFor="let file of trackFiles" [value]="file.id">{{file.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form" *ngIf="currResourceType === 'ALN' ">
      <mat-select [(ngModel)]="selectedIndexFileId" name="index" placeholder="Index file">
        <mat-option *ngFor="let file of indexFiles" [value]="file.id">{{file.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="submitBtnContainer">
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      <button mat-button [mat-dialog-close]="1" mat-raised-button color="accent" (click)="confirmAdd()">Add</button>
    </div>
  </form>
</div>