<mev-spinner-overlay *ngIf="isWait"></mev-spinner-overlay>
<!-- <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="expandState">
        <mat-expansion-panel-header *ngIf="!expandState || !panelOpenState">
            <mat-panel-title>
                Select new files
            </mat-panel-title>
            <mat-panel-description>
                Open to use new Tracks
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="igv-container">
            <ng-container>
                <div class="label">
                    Track File: <span class="redAsterisk">* </span>
                    <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                        matTooltip="Select BAM file" aria-label="Info tooltip about the field">info
                    </mat-icon>
                </div>
                <div>{{trackNames.join(' ')}}</div>
                <br>
                <button mat-raised-button color="accent" (click)="addItem('track')">
                    <mat-icon aria-label="Add local data">add</mat-icon>
                    Select Track file
                </button>
                <br>
            </ng-container>
            <ng-container>
                <div class="label">
                    Genome: <span class="redAsterisk">* </span>
                    <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                        matTooltip="Select a Genome" aria-label="Info tooltip about the field">info
                    </mat-icon>
                </div>
                <div>{{genome}}</div>
                <br>
                <button mat-raised-button color="accent" (click)="addItem('genome')">
                    <mat-icon aria-label="Add local data">add</mat-icon>
                    Select Genome
                </button>
                <br>
            </ng-container>
        </div>
        <br>
        <br>
        <span class="btn-container">
            <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Submit
            </button>
            <button mat-raised-button class="resetBtn" (click)="reset()">Reset
            </button>
        </span>
    </mat-expansion-panel>
</mat-accordion> -->


<span class="btn-container">
    <button mat-raised-button color="accent" class="btn" (click)="addItem('track')">
        <mat-icon aria-label="Add local data">add</mat-icon>
        Load Track
    </button>
    <button mat-raised-button color="accent" class="btn" (click)="addItem('genome')">
        <mat-icon aria-label="Add local data">add</mat-icon>
        Select Genome
    </button>
    <button mat-raised-button class="btn" (click)="reset()">Reset
    </button>
</span>
<br>
<div id="igvDiv2">
    <div #igvDiv></div>
</div>