.igv-container{
    margin-top: 10px;
    margin-left: 5%;
}

.label {
    padding-right: 10px;
    font-weight: bolder;
    font-size: 12px;
}

.analyses-header__icon {
    font-size: 14px;
}

.form-control {
    width: 500px;
    padding-bottom: 50px;
}

mat-checkbox {
    padding-right: 10px;
}
.redAsterisk {
    color: red;
}

.resetBtn{
    margin: 0 5px;
}
.btn-container{
    margin-left: 5%;
}
