<mev-spinner-overlay *ngIf="isWait"></mev-spinner-overlay>

<form [formGroup]="igvForm" (ngSubmit)="onSubmit()" class="igv-container">
    <ng-container>
        <div class="label">
            BAM File: <span class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="Select BAM file" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select formControlName=bam [(value)]="selectedBAMFileId" (selectionChange)="onSelectBAM()">
                <mat-option *ngFor="let file of filesByType['ALN']" [value]="file.id">
                    {{ file.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <ng-container>
        <div class="label">
            Index File: <span class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="Select BAM file" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select formControlName=bai [(value)]="selectedIndexFileId" (selectionChange)="onSelectIndex()">
                <mat-option *ngFor="let file of filesByType['ALN']" [value]="file.id">
                    {{ file.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <ng-container>
        <div class="label">
            Genome: <span class="redAsterisk">* </span>
            <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                matTooltip="Select BAM file" aria-label="Info tooltip about the field">info
            </mat-icon>
        </div>
        <mat-form-field class="form-control" color="accent">
            <mat-select formControlName=genome [(value)]="selectedGenomeId" (selectionChange)="onSelectGenome()">
                <mat-option *ngFor="let file of genomeList" [value]="file">
                    {{ file }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <div>
        <button mat-raised-button color="accent" type="submit" >Submit
        </button>
    </div>
</form>
<br>
<div id="igvDiv2">
    <div #igvDiv></div>
</div>
