.label {
    padding-right: 10px;
    font-weight: bolder;
  }
  
  .analyses-header__icon {
    font-size: 14px;
  }
  
  .form-control {
    width: 500px;
    padding-bottom: 50px;
  }
  
  mat-checkbox {
    padding-right: 10px;
  }
  .redAsterisk{
    color: red;
  }