<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>SpatialGE {{useNormalization ? 'Normalization' : 'Clusters'}}: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>

    <div *ngIf="useNormalization" class="searchContainer">
        <label id="radio-group-axis">Gene Search: </label>
        <div class="inputContainer">
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Gene Search</mat-label>
                <input matInput type="search" name="search" [(ngModel)]="geneSearchVal" class="smallerInput">
                <button *ngIf="geneSearchVal" matSuffix mat-icon-button aria-label="Clear" (click)="geneSearchVal = ''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button *ngIf="!panelOpenState" mat-flat-button color="primary" class="searchButton"
                [disabled]="geneSearchVal === ''" (click)="getDataNormalization()">Submit</button>
        </div>
    </div>

    <!-- <mat-expansion-panel #accordion [(expanded)]="panelOpenState">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="plot-options-header">Select X and Y Axis Labels: </span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="instructions_text">
            To plot your spatial data, we depend on the coordinate metadata you provided. Since different technologies
            can label those files differently, we require you to specify which columns dictate the horiztonal and
            vertical positions. Please set these using the dropdown menus below:
        </p>

        <mat-form-field appearance="outline">
            <mat-label>Select X-Axis Label</mat-label>
            <mat-select [(value)]="yAxisValue">
                <mat-option [value]="option" *ngFor="let option of yAxisValueList">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Select Y-Axis Label</mat-label>
            <mat-select [(value)]="xAxisValue">
                <mat-option [value]="option" *ngFor="let option of xAxisValueList">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-flat-button color="primary" class="searchButton"
            [disabled]="xAxisValue === '' || yAxisValue === '' || geneSearchVal === ''"
            (click)="analysisType === 'normalization' ? getDataNormalization(): getDataClusters() ">Submit</button>
    </mat-expansion-panel> -->

    <div id="topOfPage"></div>
    <div *ngIf="!displayOverlayContainer || (scatterPlotData.length === 0 && (useNormalization || useCluster))"
        class="noDataDiv">No data found.</div>
    <div *ngIf="displayOverlayContainer" class="overlayContainer"
        [style.width.px]="overlayImage ? maxImageContainerWidthOverylay +100 + legendWidth: maxImageContainerWidthSidebySide + 150">
        <div *ngIf="scatterPlotData.length > 0" class="downloadButtonContainer"
            [style.width.px]="overlayImage ? maxImageContainerWidthOverylay + 100 + legendWidth: maxImageContainerWidthSidebySide + 200">
            <button mat-button *ngIf="!isLoading" id="downloadButton" (click)="captureAndDownloadImages()"
                matTooltip="Download Image" title="download something">
                <mat-icon>save_alt</mat-icon>
            </button>
        </div>

        <span class="fullOverlayDiv" [style.width.px]="(plotWidth + legendWidth)*2">
            <div *ngIf="currentZoomVal !== 1 && currentZoomVal !== 0.5" class="verticalSliderContainer">
                <mat-slider [min]="minSliderTopValue()" [max]="maxSliderTopValue()" step="10" [(ngModel)]="sliderTop"
                    (change)="moveImage('left', 'slider', 'plot')" vertical [style.height.px]="plotHeight">
                </mat-slider>
            </div>
            <div class="overlayDiv" [style.height.px]="originalPlotHeight"
                [style.width.px]="overlayImage ? (currentZoomVal == 1 ? originalPlotWidth+legendWidth: originalPlotWidth) : !droppedFile ? (currentZoomVal != 1 ? originalPlotWidth+legendWidth : originalPlotWidth * 3 + 150 + legendWidth*3): originalPlotWidth+legendWidth">

                <div #scatter id="scatter" [class]="overlayImage ? 'overlayPlots' : 'displayPlotSideBySide'"
                    [style.opacity]="displayPlot ? plotOpacityValue : 0"
                    [style.width.px]="originalPlotWidth + legendWidth"
                    [style]="!displayAlignment ? 'z-index: 2' : 'z-index: 4'" class="plotContainer">
                </div>
                <div *ngIf="scatterPlotData.length > 0"
                    [class]="!droppedFile && currentZoomVal == 1 ? 'drop-zone' : '' " (drop)="onDropFile($event)"
                    (dragover)="onDragOver($event)"
                    [style.margin-left.px]="overlayImage ? (currentZoomVal === 1 ? -originalPlotWidth : -originalPlotWidth): 20"
                    [style.height.px]="!droppedFile ? originalPlotHeight - 100: originalPlotHeight"
                    [style.width.px]="!overlayImage && !droppedFile ? normalizePlotWidth - 200 : originalPlotWidth"
                    (click)="fileInput.click()" class="imageContainer" [style.opacity]="imageOpacityValue">
                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
                    <div *ngIf="!droppedFile && currentZoomVal == 1" class="drop-message">
                        <p>Drop image file here or click to upload</p>
                    </div>
                    <div [class]="droppedFile && displayImage && overlayImage ? '':'hiddenDiv'">
                        <canvas #canvasElement1 [width]="croppedWidth" [height]="croppedHeight"></canvas>
                    </div>
                </div>

                <div *ngIf="scatterPlotData.length > 0" class="zoomButtonContainer"
                    [style.left.px]="currentZoomVal === 1 ? plotWidth + legendWidth - 60 : (overlayImage ? plotWidth - 40: plotWidth - 60)">
                    <button class="zoomButton" matTooltip="Zoom In" (click)="applyZoom('+')"
                        [disabled]="currentZoomVal === zoomMax">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button class="zoomButton" matTooltip="Zoom Out" (click)="applyZoom('-')"
                        [disabled]="currentZoomVal === zoomMin">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>

            </div>
            <div class="nonOverlay" [style.opacity]="imageOpacityValue" [style.height.px]="plotHeight"
                [style.width.px]="droppedFile && displayImage && !overlayImage ? (currentZoomVal === 1 ? plotHeight*aspectRatio : plotWidth) : 0">
                <div class="imageContainer2" [style.height.px]="plotHeight">
                    <canvas #canvasElement2 [width]="croppedWidth" [height]="croppedHeight"></canvas>
                </div>
                <div *ngIf="currentZoomVal === 1" class="closeButtonContainer"
                    [style.left.px]="currentZoomVal === 1 ? plotHeight*aspectRatio - 40 : plotWidth - 40">
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="removeImage()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>

            <div class="miniMapContainer"
                [style.left.px]="overlayImage || !droppedFile ? originalPlotWidth+plotWidth/4 + 10 : originalPlotWidth*2 + 75"
                [style.top.px]="originalPlotHeight + geneSearchHeight + 20">
                <div
                    [class]="(currentZoomVal != 1 && currentZoomVal != 0.5) || (droppedFile && showMiniMap) ? 'miniSubContainer' : 'hiddenDiv miniSubContainer'">
                    <div>
                        <div *ngIf="!droppedFile" class="miniMapImageContainer" [style.height.px]="plotHeight/4"
                            [style.width.px]="plotWidth/4"></div>
                        <div #minimapId id='minimapId'
                            [class]="currentZoomVal != 1 || droppedFile ? 'minimapPlotContainer' : 'hiddenDiv minimapPlotContainer'"
                            [style.opacity]="displayPlot ? plotOpacityValue : 0" [style.top.px]="0">
                        </div>
                        <div *ngIf="droppedFile || !droppedFile" [ngStyle]="selectionRectStyle" class="miniboxDiv">
                        </div>
                    </div>
                </div>
            </div>
        </span>
        <div *ngIf="currentZoomVal !== 1 && currentZoomVal !== 0.5" class="horizontalSliderContainer"
            [style.width.px]="plotWidth">
            <mat-slider [min]="minSliderLeftValue()" [max]="maxSliderLeftValue()" step="10" [(ngModel)]="sliderLeft"
                (change)="moveImage('left', 'slider', 'plot')" [style.width.px]="plotWidth">
            </mat-slider>
        </div>
    </div>

    <div *ngIf="scatterPlotData.length > 0" class="slider"
        [style.top.px]="(plotHeight+heightAdjustment) + geneSearchHeight + 100">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div *ngIf="displayAlignment">
                        <label id="modes-label">Alignment: </label>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Image Left"
                            (click)="moveImage('left', 'align', 'image')">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Image Right"
                            (click)="moveImage('right', 'align', 'image')">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Image Up"
                            (click)="moveImage('up', 'align', 'image')">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Move Image Down"
                            (click)="moveImage('down', 'align', 'image')">
                            <mat-icon>arrow_downward</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Expand Image X-Axis"
                            (click)="stretchPlot('x-axis', '+')">
                            <mat-icon class="rotate-90">expand</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Compress Image X-Axis"
                            (click)="stretchPlot('x-axis', '-')">
                            <mat-icon class="rotate-90">compress</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Expand Image Y-Axis"
                            (click)="stretchPlot('y-axis', '+')">
                            <mat-icon>expand</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Compress Image Y-Axis"
                            (click)="stretchPlot('y-axis', '-')">
                            <mat-icon>compress</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Rotate Image Left"
                            (click)="rotateImage('-')">
                            <mat-icon>rotate_left</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Rotate Image Right"
                            (click)="rotateImage('+')">
                            <mat-icon>rotate_right</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button"
                            matTooltip="Swap X/Y Axis on Image" (click)="swapAxis()">
                            <mat-icon>pivot_table_chart</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Flip Image Horizontal"
                            (click)="flipAxis('horizontal')">
                            <mat-icon>swap_horiz</mat-icon>
                        </button>
                        <button mat-flat-button color="primary" class="custom-button" matTooltip="Flip Image Vertical"
                            (click)="flipAxis('vertical')">
                            <mat-icon>swap_vert</mat-icon>
                        </button>
                        <br>
                        <br>
                        <label class="labelTitle">Step Size: </label>
                        <mat-icon class="analyses-header__icon" matTooltipClass="tooltip"
                            fontSet="material-icons-outlined"
                            matTooltip="Adjust the increments size for alignment of the plot or image."
                            aria-label="Info tooltip about the step size for alignment">
                            info
                        </mat-icon>

                        <div class="inputContainer">
                            <mat-form-field class="example-form-field container" appearance="outline">
                                <mat-label>Step Size</mat-label>
                                <input matInput type="search" name="search" [(ngModel)]="moveAmountVal"
                                    (keyup.enter)="setMoveAmount($event)" class="smallerInput">
                                <button *ngIf="moveAmountVal" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="moveAmountVal = ''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <button mat-flat-button color="primary" class="searchButton"
                                (click)="setMoveAmount($event)">Submit</button>
                        </div>
                    </div>

                    <label id="radio-group-axis">Plot Opacity: <span class="displayValue">
                            {{plotOpacityValue}}</span></label>
                    {{0}} %
                    <mat-slider min="0" max="1" step=".1" [(ngModel)]="plotOpacityValue"
                        (input)="updatePlotOpacity(plotOpacityValue)">
                    </mat-slider>
                    {{100}} %
                    <br>
                    <label id="radio-group-axis" [ngClass]="{ 'disabled-label': !droppedFile }">Image Opacity: <span
                            class="displayValue"> {{imageOpacityValue}}</span></label>
                    {{0}} %
                    <mat-slider min="0" max="1" step=".1" [(ngModel)]="imageOpacityValue"
                        (input)="updateImageOpacity(imageOpacityValue)" [disabled]="!droppedFile">
                    </mat-slider>
                    {{100}} %
                    <br>
                    <mat-slide-toggle [(ngModel)]="overlayImage" [disabled]="!droppedFile"
                        (change)="changeOverlayMode()">Overlay Images
                    </mat-slide-toggle>
                    <br>
                    <mat-slide-toggle [(ngModel)]="displayAlignment" (change)="changeOverlayMode()"
                        [disabled]="!droppedFile">
                        Alignment Mode</mat-slide-toggle>
                    <br>
                    <mat-slide-toggle [(ngModel)]="displayPlot">Display Plot</mat-slide-toggle>
                    <br>
                    <mat-slide-toggle [(ngModel)]="displayImage" [disabled]="!droppedFile">Display Image
                    </mat-slide-toggle>
                </div>
                <div class="col-md-5">
                    <label class="scalefactor-group">Scale Factor:</label>
                    <mat-icon class="analyses-header__icon" matTooltipClass="tooltip" fontSet="material-icons-outlined"
                        matTooltip="Scale factor determines how to scale the histopathology image to approximately align with the summary plot. This is typically provided in a JSON-format file by 10X Genomics (Visium). If the value is not known or does not appear to align that well, you can manually adjust."
                        aria-label="Info tooltip about the Scale Factor">
                        info
                    </mat-icon>
                    <div class="inputContainer">
                        <mat-form-field class="example-form-field container" appearance="outline">
                            <mat-label>Scale Factor</mat-label>
                            <input matInput type="search" name="search" [(ngModel)]="scaleFactorVal"
                                (keyup.enter)="setScaleFactor($event)" class="smallerInput">
                            <button *ngIf="scaleFactorVal" matSuffix mat-icon-button aria-label="Clear"
                                (click)="scaleFactorVal = ''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-flat-button color="primary" class="searchButton"
                            (click)="setScaleFactor($event)">Submit</button>
                    </div>
                    <div *ngIf="useNormalization">
                        <br>
                        <br>
                        <label id="radio-group-axis">Plot Color: </label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="selectedColor" (change)="onColorChange()">
                            <div *ngFor="let plotColor of colors" class="radio-container">
                                <mat-radio-button class="example-radio-button" [value]="plotColor">{{plotColor}}
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>