<p>spotlight here!</p>
<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>Spotlight: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>


    <div #scatter id="scatter" [class]="overlayImage ? 'overlayPlots' : 'displayPlotSideBySide'"
        [style.opacity]="displayPlot ? plotOpacityValue : 0" [style.width.px]="1000"
        [style]="!displayAlignment ? 'z-index: 2' : 'z-index: 4'" class="plotContainer">
    </div>
    

</mat-card>