.mat-header-cell {
  background: #eeeeee;
}

.workspace-btn-group {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.mat-cell a {
  color: #86746d;
  text-decoration: underline;
}
