<div class="container">
  <h3 mat-dialog-title>Edit File</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div-->

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="File name" [(ngModel)]="data.name" name="name"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">

      <mat-form-field color="accent">
        <mat-label>Select a resource type</mat-label>
        <mat-select [(ngModel)]=data.resource_type name="resource_type" required>
          <mat-option *ngFor="let type of resourceTypes | keyvalue" [value]="type.key">
            {{ type.value.title }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf=resourceTypes[data.resource_type] align="start">
          {{ resourceTypes[data.resource_type].description }}</mat-hint>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="stopEdit()" mat-raised-button color="accent">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>