<div class="container">
  <span class="headerSpan">
    <div class="dialogTitle">Edit File</div>
    <button class="closeDialogButton" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </span>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="File name" [(ngModel)]="data.name" name="name"
        (keydown.enter)="stopEdit()" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <p class="hints">
      Note that the file name is simply for helping users identify their files. We don't use it to determine file types
      or formats.
    </p>
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Select a resource type</mat-label>
        <mat-select [(ngModel)]=data.resource_type name="resource_type" required>
          <mat-option *ngFor="let type of resourceTypes | keyvalue" [value]="type.key">
            {{ type.value.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <p class="hints" *ngIf=resourceTypes[data.resource_type]>
      {{ resourceTypes[data.resource_type].description }}</p>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Select a format type</mat-label>
        <mat-select [value]=data.file_format name="format_type" (selectionChange)="setFormatType($event)" required>
          <mat-option *ngFor="let type of acceptableResourceTypes[data.resource_type] | keyvalue"
            [value]="type.value.key">
            {{ type.value.key }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div *ngFor="let type of acceptableResourceTypes[data.resource_type] | keyvalue">
      <p class="hints" *ngIf="type.value.key === data.file_format">{{type.value.description}}</p>
    </div>
    <br>
    <br>
    <div class="submitBtnContainer">
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" (click)="stopEdit()" mat-raised-button
      color="accent">Send</button>
    </div>
  </form>
</div>