.analysis-card__img {
    background-image: url("~assets/icons/dna.png");
    background-size: 30px;
    background-position: top right;
    background-repeat: no-repeat;
}

.analysis-card__content {
    padding-top: 1rem;
}
.word-wrap {
    white-space: normal !important;
    word-wrap: break-word !important;
    max-width: 400px;
}

.table {
    width: 100%;
}

.numericCols {
    min-width: 100px;
}

.instructions_text {
    color: rgba(0, 0, 0, 0.8);
    width: 60vw;
}

.notSelectedButton {
    color: #03a9f4;
    background: white;
}

.selectedButton {
    color: white;
    background: #03a9f4;
}

.no-box-shadow {
    box-shadow: none !important;
}

.no-box-shadow .mat-expansion-panel {
    box-shadow: none !important;
}

.no-box-shadow .mat-expansion-panel-header {
    box-shadow: none !important;
}

::ng-deep {
    .d3-tip {
        margin: 1rem 0;
        padding: 8px;
        position: fixed;
        z-index: 1000;
        font-size: 11px;
        border-radius: 3px;
        box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #d9d9d9;
        color: rgba(0, 0, 0, 0.9);
    }

    .category {
        display: inline;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);
    }
}
