<mev-spinner-overlay *ngIf="isLoading"></mev-spinner-overlay>
<mat-card class="analysis-card">
    <mat-card-header>
        <div mat-card-avatar class="analysis-card__img"></div>
        <mat-card-title>{{analysisName}}: {{ outputs?.job_name }}</mat-card-title>
        <mev-input-info [outputs]="outputs"></mev-input-info>
    </mat-card-header>
    <mat-card-content class="analysis-card__main">
        <mat-divider [inset]="true"></mat-divider>
        <div class="analysis-card__content">
            <mev-spinner-overlay *ngIf="dataSource.loading$ | async"></mev-spinner-overlay>
            <mat-form-field appearance="outline">
                <mat-label>Select ST Normalize File</mat-label>
                <mat-select [(value)]="selectedStNormalizedFile" (selectionChange)="onSelectSTNormalizeFile()">
                    <mat-option [value]="option" *ngFor="let option of stNormalizeFile">{{ option['job_name'] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="table" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="sample_gene">
                        <th mat-header-cell *matHeaderCellDef> Sample Gene </th>
                        <td mat-cell *matCellDef="let element" class="word-wrap"> {{element.rowname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="gene_mean">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Gene Mean </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.gene_mean)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gene_stdevs">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Gene Stdevs </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{formatNumToSigFig(element.values.gene_stdevs)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="moran_i">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Moran I </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{element.values.moran_i ?
                            formatNumToSigFig(element.values.moran_i) : 'NA'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="geary_c">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Geary C </th>
                        <td mat-cell *matCellDef="let element" class="numericCols"> {{element.values.geary_c ?
                            formatNumToSigFig(element.values.geary_c) : 'NA'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> </th>
                        <td mat-cell *matCellDef="let element; let i=index;" class="numericCols">
                            <button mat-raised-button title="Select Gene" [disabled]="isEmpty(selectedStNormalizedFile)"
                                (click)="selectGene(element.rowname)"
                                [class]="element.rowname === geneSearch ? 'selectedButton' : 'notSelectedButton' ">
                                {{element.rowname === geneSearch ? 'Selected Gene' : 'Select Gene'}}
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="dataSource.featuresCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
                    (page)="loadFeaturesPage()">
                </mat-paginator>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div id="topOfPage"></div>
        <div #scatter id="scatter" [style.width.px]="originalPlotWidth + legendWidth" class="plotContainer"></div>
        <p *ngIf="scatterPlotData.length === 0 && !isLoading && xAxisValue !== '' && yAxisValue !== '' && geneSearch !== ''">No data to display</p>

    </mat-card-content>
</mat-card>