#go-back {
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #03a9f4;
}

.nav__icon {
    vertical-align: bottom;
}

.filter-sidenav {
    width: 300px;
    margin-top: 20px;
    background-color: #ddebf2;
}

.filter-sidenav-content {
    margin-left: 20px;
    height: 100%;
}

.sideContainer {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

.checkBoxLabel {
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}
.checkBoxContent {
    font-size: 12px;
    text-transform: capitalize;
}

// .sliderGroup {
//     font-weight: bold;
//     font-size: 14px;
//     text-transform: capitalize;
// }

::ng-deep {
    .mat-checkbox-inner-container {
        width: 12px !important;
        height: 12px !important;
    }
    .filter-container {
        display: flex;
        flex-direction: row;
    }
    .filter-sidenav{
        flex: 0 0 auto;
    }
}

// ::ng-deep {
//     .custom-slider {
//       .ngx-slider {
//         // .ngx-slider-selection {
//         //   background: rgb(255, 255, 0) !important;
//         // }

//         // .ngx-slider-model-value {
//         //     font-size: 12px !important;
//         // }
//         // .ngx-slider-model-high{
//         //     font-size: 12x !important;
//         //     color: tomato !important;
//         // }
//         // .ngx-slider-pointer-min{
//         //     height: 24px;
//         //     width: 24px;
//         // }
//       }
//     }
//   }
