.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.mat-dialog-title {
  font-weight: bold;
}
.mat-dialog-content {
  max-height: none;
  overflow: visible;
}
