.container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.mat-dialog-title {
  font-weight: bold;
  font-size: 15px;
}

.mat-dialog-content {
  overflow-y: auto;
  max-height: 400px;
}
